.redError
{
	color: red;
}
#categories{width:300px}
#categories ul.caegories{ padding-left:1px; margin-left: 1px !important;}
#categories ul.caegories li{ display:block;  padding-bottom: 10px;float:left;width:100px; font-size:12px}
#categories ul.caegories li a{}
#categories ul.caegories li a:hover{ color:#bed62f}


.mainuser {
   width:460px;float:left;
}
.subuser
{	
	margin-top: -8px;	
	  padding-right: 7px;
    width: 125px;
	float:left;
	
}
.widthclass{

width: 652px;
}

.nofound{
	 line-height: 27px;
}
.pad{
	padding-right: 8px;
}
