  body {
        padding-top: 60px;
      }
.pageheader h3{ border-bottom: 1px solid #EEEEEE;
    padding-bottom: 3px;color:#3A87AD;}
.collpase_title{font-size:14px;font-weight:bold;color:#333;}
.rxImage{border:2px solid gray; }
.showImage{margin-left:0px;!important;}
.captureImage{
	height: 100px;
	width:200px;
	border:1px solid gray;
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
   
	text-align: center;
}

.commentText{
	height: 70px;
    width: 230px;
}

.star{
	color:red;
}
.nameInfo{
	height:398px;
}
.imageInfo{
	border: 2px solid #CCCCCC;
	padding:5px;
}
.submitInfo{
	height:371px;
}
h3.headerClass{
	font-size:21px;
	color:maroon;
	margin-left:15px;
	padding: 10px;
}
.returnError{
	color:red;
}
.cancelColor{
	background-color: red;
}

.viewRecentMore{
	text-align: right;
}

.rejetcedRow{
	color: #FF0000;!important;
}
.highprioRow{
	background-color: #FF0000;
	color: black;
}
.green{
	color:#009900;
}

.Advance{
	margin-bottom: 20px;!important;
	
}
.menuClass{
	min-width: 229px;
}
.myclass{
	width:1030px;
}
.advanceMessage{
	font-size:12px;
	color:maroon;
	padding-bottom:10px;
	font-weight:600;
}
#childRxNumber{
	width:100% !important;
}

.update{
	
	color:maroon;
	margin-bottom:20px;
}
.recentnew {margin:0px !important;overflow: auto;height: 100px;}
.recentnew li{font-size:11px;padding:4px;list-style-type: none; border-radius: 6px; }

.recent {margin:0px !important;text-align: left;}
.recent li{font-size:11px;padding:7px;list-style-type: none; border-radius: 6px; }
.recentblock{
	background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 16px;
    position: relative;
    }
 .actBlock{
	/*background: none repeat scroll 0 0 #FFFFFF;*/
    margin-left: 200px;
    margin-bottom: 16px;
    border:1px solid #c3c3c3;
    position: relative;
    width: 400px;
    }   
 .commentblock{
	background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 16px;
    border:1px solid #c3c3c3;
    position: relative;
    width: 100%;
    }
       
.recentblock h3{
  background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    height: 20px;
    padding-top: 2px;
    }
.tableWidth{
	width:100%;
}
.commentDiv{
	border:1px solid #CCCCCC;
}
.viewCommentText{
	width:95%;
}
.viewComment{
	width:246px;
	border:1px solid #CCCCCC;
}
.reject{
	color:red;
}
.accepted{
	color:green;
}
.actPad{
	padding-top: 5px;
	width:246px;
}

.nav-tabs > li > a {
 font-size: 11px;
}
.customtab{border: 1px solid #ddd;}
.webcam{border:2px solid #333;background:#eee;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
object { 
	z-index:0;
	margin-top: 10px;
	border-radius: 20px;
	}
.redError
{
	color: red;
}
.titleImage{
	font-size:16px;
	font-weight:600;
	color:maroon;
	padding-top:5px;
	padding-bottom:10px;
	text-align: center;
}
.viewPagination{
	 margin: 0px 0px 0px 0px;!important;
}
.leftBar{
	 background-color: #0074CC;
	 color:#000;
	 border:2px solid;
}
#leftBar{
	
    padding-left:14px;
    width:132px;
    border-radius:10px 10px 10px 10px;
  	border:2px solid;
  	box-shadow: 0 0 5px #BBBBBB;
  	color:#000;
  	font-weight:600;
}

.leftBarFont{
	color:#fff;
	font-weight:600;
}
.leftBarActive{
	color:#fff;
}

.viewHeaders{
	color:gray;
}
.iconPadding{
	padding-right:12px;
}
.patientName{
	margin-left:22px;
}
.removeTopBorder{
	width:100% !important;
}
.catlist li{
	list-style-type:none;
	float:left;
	/*width:388px; */
	height:380px;
	width:400px; 
	}
.catlist li img {
    /*width: 370px !important;*/
	height:350px !important;
	width: 380px !important;
}
.catlist1 li#img{width:176px;padding-top:7px}

.catlist li#img{width:130px;}


.catlist1 li{list-style-type:none;float:left;width:142px; }
.catlist1 li img {
    width: 151px !important;
	height:100px !important;
	padding:10px
}

.magglass{ background: url("../../images/magnifyingglass.png") no-repeat scroll 0 0 transparent;
    border: 2px solid #000000;
    float: left;
    height: 24px;
   /* margin-left: 347px;*/
    margin-top: -23px;
	*margin-top:150px;
    position: absolute;
    width: 24px;
    margin-left: 357px;
    }
.icon-resize-full {

    background-color: #000000;

    background-position: -360px -96px;

    border: 1px solid #000000;

    margin-right: -5px;

    margin-top: -10px;

}

/*****************************************************************/
.createRx{
	width:190px;
}
.commentBottom{
	margin-top:270px;!important;
}
.showCapture{
	height:400px;!important;
}
#browseImage{
	margin-top: 26px;
}
.viewHeaders{background-color:#f4f4f4;}
.clickable{cursor: pointer;}
.liSearch{width:136px;!important}
.span2{width: 140px;!important}

.span3 {
    width: 245px;
}
.actTechBlock{
	margin-left:190px;
	margin-top: 20px;
}
.actTechBlock1{
	margin-left:190px;
	margin-top: 15px;
}
#actTechBlock{
	margin-left:1px;
}
.flashMessage{
	width:1025px;
	margin-left:223px;
}
#advanceSearch{
	margin-left:10px;
	margin-top:1px;
}

#userInfo{
	width:100px;
	margin:0px;!important
}

/*************This css is used when technician creates Rx**********************************/
 .myfileupload-buttonbar input
    {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        opacity: 0.0;
        filter: alpha(opacity=0);
        -o-transform: translate(250px, -50px) scale(1);
        -moz-transform: translate(-300px, 0) scale(4);
        direction: ltr;
        cursor: pointer;
    }
 .myui-button
    {
       position: relative;
       cursor: pointer;
       text-align: center;
       overflow: visible;
       overflow: hidden;
         text-decoration: none;
       color: #fff;
       font-size: 16px;
    height: 25px;
    line-height: 22px;
    text-shadow: 1px 1px 1px #277C9B;
        
    }
/***********************************************/       
.middleSection{
/*	width:290px;*/
}
.wellbox {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.condense {
     margin-left: 5px !important;
  }
.createRxImg{
	margin-top: 10px;
}
.mainImage{
	height: 370px;
    padding-top: 5px;
    width: 520px;
}
.samllthumb{
	width: 120px;
	height: 100px;
}
#captureButton{
	height: 38px;
}

.modal-header .marginTop{
	margin-top:-3px; !important;
	border-radius: 10px ;
	border: 2px solid #000000;!important;
}
 #myModalPhone{
	background-color: #84E184;
	 border: 2px solid #308F5A;!important;
}
#modal-header{
	border-bottom: none;
}
#subscriber object{margin-left: 10px !important;}
.widthSetting{
	width:330px;!important;
}

.bubble
		{
		  background: #e02424;  		
		 /* position: absolute;*/
		  right: 5px;
		  top: -5px;
		  padding: 1px 3px;
		  color: #fff;
		  font: bold 0.7em Tahoma,Arial,Helvetica;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		}
.bubblemenu
{
		  background: #e02424;  		
		 /* position: absolute;*/
		 float:right;
		 margin-top:-14px;
 		  padding: 1px 3px;
		  color: #fff;
		  font: bold 0.7em Tahoma,Arial,Helvetica;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		}

	.drfatbubble{
		  background: #ddd;  		
		 /* position: absolute;*/
		 float:right;
		 margin-top:-14px;
		  padding: 1px 3px;
		  color: #000;
		  font: bold 0.7em Tahoma,Arial,Helvetica;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		}
/* iphone style checkbox*/
#sliderLabel {
    border: 1px solid #a2a2a2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 23px;
    margin: 5px auto;
    overflow: hidden;
    position: relative;
    width: 100px;
}
#sliderLabel input {
    display: none;
}
#sliderLabel input:checked + #slider {
    left: 0px;
}
#slider {
    left: -50px;
    position: absolute;;
    top: 0px;
    -moz-transition: left .25s ease-out;
    -webkit-transition: left .25s ease-out;
    -o-transition: left .25s ease-out;
    transition: left .25s ease-out;
}
#sliderOn, #sliderBlock, #sliderOff {
    display: block;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0px;
}
#sliderOn {
    background: #3269aa;
    background: -moz-linear-gradient(top,  #3269aa 0%, #82b3f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3269aa), color-stop(100%,#82b3f4));
    background: -webkit-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
    background: -o-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
    background: -ms-linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
    background: linear-gradient(top,  #3269aa 0%,#82b3f4 100%);
    color: white;
    left: 0px;
    width: 54px;
}
#sliderBlock {
    background: #d9d9d8;
    background: -moz-linear-gradient(top,  #d9d9d8 0%, #fcfcfc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d8), color-stop(100%,#fcfcfc));
    background: -webkit-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
    background: -o-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
    background: -ms-linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
    background: linear-gradient(top,  #d9d9d8 0%,#fcfcfc 100%);
    border: 1px solid #a2a2a2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radisu: 3px;
    height: 24px;
    left: 50px;
    width: 50px;
}
#sliderOff {
    background: #f2f3f2;
    background: -moz-linear-gradient(top,  #8b8c8b 0%, #f2f3f2 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8c8b), color-stop(50%,#f2f3f2));
    background: -webkit-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
    background: -o-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
    background: -ms-linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
    background: linear-gradient(top,  #8b8c8b 0%,#f2f3f2 50%);
    color: #8b8b8b;
    left: 96px;
    width: 54px;
}
#tblDetails{border:1px solid #3399FF;min-width:300px;}
#tblDetails li{font-family:arial;font-size:12px;border-bottom:1px solid #f4f4f4;padding:2px;}

.markHigh{
	background-image: url("../img/markedHigh.png");
	background-repeat: no-repeat;
	float: left;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.markLow{
	background-image: url("../img/unmarkHigh.gif");
	background-repeat: no-repeat;
	float: left;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.unread{font-weight: bold;color: blue;}


.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: none !important;
    color: #FFFFFF;
	font-weight:bold;
	font-size:12px !important;

    text-decoration: none;
}