@charset "utf-8";
/*modal*/
#sm_content {
	display: none;
  position: fixed;
  left: 50%;
  padding: 15px;
	top:10%;
  -webkit-box-shadow: 0px 0px 8px #111;
  background:#FFF;
	width:671px;
	margin-left:-335px;
	text-align:center;
}
#sm_content small{font-size:77%;}
#sm_content .sm_close{
	float:right;
	cursor:pointer;
}
#sm_content h3{font-size:116%;}
#sm_olay { background-color: #000; }
/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.overlay {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html #sm_content {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


