/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading {
    display: block;
    height: 100%;
    left: 0;
    margin-top: 12px;
    position: fixed;
    top: 50px;
    width: 100% !important;
    z-index: 1000;
    background: rgba( 255, 255, 255, .8 )
                url('../../images/ajax-loader.gif')
                50% 50%
                no-repeat;
}