/* CSS Document */
/****************************************************************************************************
* Filename: Main.css
* Purpose: All the main CSS Rules required to design web pages.
* Author: mahesh.savant1990@gmail.com


/*** BODY (GLOBAL SETTING)***/
html, body {margin: 0px !important;}
body {background:url(../../images/bg.png) repeat-x scroll center top transparent ; color:#000; background-color:#FFF}
.tips{margin:0px; padding-top:0px ;padding-bottom:10px }

/*** MAIN WRAPPERS ***/
#wrapper {margin:0 auto; width:1010px;}

/*** Heading  ***/
h3 {font-family:Verdana, Geneva, sans-serif; font-size:16px; font-weight:normal; color:#fff; line-height:10px; text-transform:inherit}
h4.subtitle {font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#7c7c7c; text-transform:uppercase}
/*** SUB NAVS ***/
.fl {float:left} .fr {float:right}

.ovfl-hidden {overflow:hidden}

#header {margin-top:-19px;height:90px;} 
#logo {width:143px; height:40px;}
#logo a {text-decoration:none; display:block;width:159px; height:57px;margin-top: 18px; background:url(../../images/logo.png) 0 0 no-repeat}


/*** MAIN CONTENTS (section wise) ***/
#maincont {width:100%;}
#contect {width:700px}
#contect2 {width:300px}

/*** COMMON MODULES ***/

/*** ROUNDED MODULES */
.top, .top div , .end, .end div {background:url(../../images/sprite.png) 0 0 no-repeat;}
.top {background-position:0 0; padding-left:12px; margin-right:9px}
.top div {background-position:100% 0; height:35px;margin-right:-9px}
.end {background-position:0 -62px; padding-left:12px;margin-right:10px}
.end div {background-position:100% -62px; height:8px;margin-right:-10px}
.bg {background:#3396b3;}


/************************ContactUs************************/ 
.innercontent {padding:10px}
.innercontent object{border-radius:5px;border:3px solid #FFFFFF }

.viewalbum {width:656px; height:460px; padding:10px 10px; margin-bottom:15px}
.viewalbum .groups {float:left;margin-bottom:24px;width:128px;margin-right:36px}
.viewalbum .groups a {color:#FC8930;font-size:12px; font-weight:bold}

.viewalbum2 {width:656px; height:160px; padding:10px 10px; margin-bottom:15px}
.viewalbum2 .groups {float:left;margin-bottom:24px;width:128px;margin-right:36px}
.viewalbum2 .groups a {color:#FC8930;font-size:12px; font-weight:bold}

/************************View Photos************************/ 
.marg {display: none;}

/********************* Pharma List *************************/
.pharma{border-bottom: 1px solid black;height: 50px;width: auto;margin-top: 5px;}
.pharmaphoto{float:left;width: 85px;}
.pharmaphoto img{border: 2px solid Black;border-radius: 5px 5px 5px 5px;}
.pharmaname{vertical-align:top;}
.pharma a{text-decoration: none;color: #3379A6;font-weight: bold;padding: 5px;}





/*modal*/
#sm_content {
	display: none;
  position: fixed;
  left: 50%;
  padding: 15px;
	top:10%;
  -webkit-box-shadow: 0px 0px 8px #111;
  background:#FFF;
	width:671px;
	margin-left:-335px;
	text-align:center;
}
#sm_content small{font-size:77%;}
#sm_content .sm_close{
	float:right;
	cursor:pointer;
}
#sm_content h3{font-size:116%;}
#sm_olay { background-color: #000; }
/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.overlay {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html #sm_content {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-primary {
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
a{text-decoration: none;}

