/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header1 { height:100%; }
.headerimg { background-size: 100% auto;
 background-position: center top;
  background-repeat: no-repeat; 
  width:100%; height:100%; position:absolute; }

/* NAVIGATION */
#nav-outer { height:110px; padding-top:11px; position:relative; top:70px;}
#navigation { height:400px; width:960px; margin:0 auto; }
#slideLogo {
    background-image: url("../../images/logo.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 110px;
}
/* SEARCH */
#search { float:right; width:340px; padding:10px; }
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

/* MENU */
#menu { position:relative; top:85px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#menu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#menu ul li a:hover { text-decoration:underline; }

/* HEADER TEXT */
#headertxt { width:960px; margin:0 auto; clear:both; position:relative; top:74px; }
#firstline { background-image:url("../../images/textbg.png"); color:#333; font-size:40px; padding:4px 13px 7px; float:left; display:block; }
#secondline { background-image:url("../../images/textbg.png"); color:#CD2B3A; text-decoration:none; font-size:60px; padding:0 13px 10px; float:left; display:block; clear:both; }
#secondline:hover { text-decoration:underline; color:#7F000C; }

.pictured { background-color:#CC3333; color:#FFF; font-size:12px; padding:9px 16px; text-transform:uppercase; float:left; display:block; clear:both; margin-top:10px; }
.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.pictured a:hover { text-decoration:underline; }

/* CONTROLS */

#back { background-image:url("../../images/btn_back.png"); }
#next { background-image:url("../../images/btn_next.png"); }
#control { background-image:url("../../images/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:400px; margin:0 auto; width:960px; }
#headernav { padding-left:864px; }

/* PHARM */
#pharm{
	float: left;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}
#content{
	float: left;
}
.btn-speak{
	padding: 10px !important;
	font-size: 20px;
	margin-left: 100px; 
}
#healthTip{
	 background-color: #ffffff;
	 border-radius: 5px;
	 opacity: 0.5;
	 padding: 15px;
	 color: #000000;
	 float: left;
	 width: 80%;
	  -moz-box-shadow: 0px 2px 7px #000;
	 -webkit-box-shadow: 0px 2px 7px #000;
}

#textrotator{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font: 20px bold; 
	font-family: Sans Serif, Helvetica;
	width: 95%; 
	float:left;
	color: #000;
	padding-bottom: 15px;
	opacity:95;
}

h1#header{
 font-family: Sans Serif, Helvetica;
  }