/* =============================================== */
/* =============================================== */
/* ======= Global Css for TelePharm Site ========= */
/* ========== Copyright TelePharm 2013 =========== */
/* ============== Author Jeff Owens ============== */
/* ================ May 14, 2013 ================= */
/* =============================================== */
/* =============================================== */
/* ++++++++++ Universal Less Functions +++++++++++ */
/* -------- End  Universal Less Functions -------- */
/* +++++++++++++++ Media Queries +++++++++++++++++ */
@media (max-height: 549px) {
  table.status-details tbody {
    height: 225px !important;
  }
}
@media (min-height: 550px) and (max-height: 599px) {
  table.status-details tbody {
    height: 275px !important;
  }
}
@media (min-height: 600px) and (max-height: 649px) {
  table.status-details tbody {
    height: 325px !important;
  }
}
@media (min-height: 650px) and (max-height: 699px) {
  table.status-details tbody {
    height: 375px !important;
  }
}
@media (min-height: 700px) and (max-height: 749px) {
  table.status-details tbody {
    height: 425px !important;
  }
}
@media (min-height: 750px) and (max-height: 799px) {
  table.status-details tbody {
    height: 475px !important;
  }
}
@media (min-height: 800px) and (max-height: 849px) {
  table.status-details tbody {
    height: 525px !important;
  }
}
@media (min-height: 850px) {
  table.status-details tbody {
    height: 575px !important;
  }
}
/* ------------ End Media Queuries --------------- */
/* +++++++++++++ Universal Classes +++++++++++++++ */
/* --- Cursor Pointer Class --- */
.cursor-pointer {
  cursor: pointer;
}
/* --- H3 Transfer Class --- */
.h3-transfer {
  background: #fff !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #ddd !important;
  color: #555 !important;
  margin-top: -15px !important;
}
/* ++++++++++ End Universal Classes ++++++++++++++ */
/* +++++++++++++ Patient Queue Table +++++++++++++ */
table.status-details {
  margin-top: 5px;
  *border-collapse: collapse;
  border-spacing: 0;
  width: 722px;
  background: #ffffff;
}
table.status-details thead th {
  display: inline-block;
  padding: 7px 0 7px 0;
  border-bottom: 1px solid #d2d3d5
    background: #767676;
  background: -moz-linear-gradient(top, #888888, #767676);
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#767676));
  background: -webkit-linear-gradient(top, #888888, #767676);
  background: -o-linear-gradient(top, #888888, #767676);
  background: -ms-linear-gradient(top, #767676, #888888);
  background: linear-gradient(to bottom, #888888, #767676);
}
table.status-details thead th p {
  color: #f5f5f5;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
table.status-details thead th p span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url('../img/sort_both.png') right center no-repeat;
}
table.status-details thead th p span.asc {
  background: url('../img/sort_asc.png') right 2px no-repeat;
}
table.status-details thead th p span.desc {
  background: url('../img/sort_desc.png') right -7px no-repeat;
}
table.status-details th:first-child {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
table.status-details th:last-child {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
table.status-details th:nth-child(2),
table.status-details th:nth-child(4) {
  text-align: left;
  padding-left: 16px;
}
table.status-details th.first-sort {
  width: 30px;
}
table.status-details th.second-sort {
  width: 275px;
}
table.status-details th.third-sort {
  width: 100px;
  padding-left: 10px;
}
table.status-details th.fourth-sort {
  width: 100px;
  padding-left: 50px;
}
table.status-details th.fifth-sort {
  width: 101px;
  padding-left: 40px;
}
table.status-details th.sixth-sort {
  width: 101px;
  padding-left: 25px;
  padding-right: 15px;
}
table.status-details tbody {
  display: block;
  height: 375px;
  overflow: auto;
  background: #eee;
}
table.status-details tbody tr {
  border-bottom: 1px solid #ffffff;
  height: 35px;
}
table.status-details tbody tr td {
  border-right: 1px solid #d2d3d5;
  border-bottom: 1px solid #fff;
  padding: 12px 14px;
  font-size: 12px;
}
table.status-details tbody tr td p {
  padding: 0;
  color: #515151;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
}
table.status-details tbody tr td p .link {
  cursor: pointer;
}
table.status-details tbody tr td p strong {
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
}
table.status-details tbody tr td p strong .link {
  cursor: pointer;
}
table.status-details tbody tr td p em.text-info {
  color: #777777;
}
table.status-details tbody tr td a.high-priority-pharmacist {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 15px;
  left: 239px;
  background: url("../img/high-priority.png") center top no-repeat;
}
table.status-details tbody tr td .store-name {
  white-space: nowrap;
}
table.status-details tbody tr td.no-records {
  width: 722px !important;
}
table.status-details tbody tr td.no-records p {
  padding: 6px 0 3px 0 !important;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
table.status-details tbody tr td.flag-cell {
  width: 16px;
  padding: 0;
  border-left: 1px solid #d2d3d5;
}
table.status-details tbody tr td:nth-child(2) {
  position: relative;
  width: 262px;
}
table.status-details tbody tr td:nth-child(2) p {
  font-family: Helvetica;
  letter-spacing: 0;
}
table.status-details tbody tr td:nth-child(3) {
  width: 140px;
  text-align: center;
}
table.status-details tbody tr td:nth-child(4) {
  width: 139px;
  border-right: none;
}
table.status-details tbody tr td:nth-child(4) span.date {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  padding-right: 9px;
  letter-spacing: 1px;
}
table.status-details tbody tr td:nth-child(4) time {
  font-family: Helvetica;
}
table.status-details tbody tr td:nth-child(5) {
  text-align: right !important;
  border-right: none;
  width: 44px;
  padding-right: 30px;
}
table.status-details tbody tr td:nth-child(5) a.initiate-tablet {
  height: 14px;
  width: 50%;
  display: block;
}
table.status-details tbody tr td:nth-child(5) a.initiate-tablet .counsel-icon {
  padding-right: 25px;
  height: 14px;
  width: 34px;
  display: block;
  background: url("../img/counsel.png") center center no-repeat;
}
table.status-details tbody tr td:nth-child(5) a.initiate-tablet .counsel-icon:hover {
  background: url("../img/counsel-hover.png") center center no-repeat;
}
table.status-details tbody tr td:nth-child(5) a.high-priority {
  height: 20px;
  display: block;
}
table.status-details tbody tr td:nth-child(5) a.high-priority i {
  display: block;
  height: 20px;
  background: url("../img/high-priority.png") center top no-repeat;
}
table.status-details tbody tr td:nth-child(5) a.low-priority {
  height: 20px;
  display: block;
}
table.status-details tbody tr td:nth-child(5) a.low-priority i {
  display: block;
  height: 20px;
  background: url("../img/low-priority.png") center top no-repeat;
}
table.status-details tbody tr td:nth-child(5) a.options,
table.status-details tbody tr td:nth-child(5) a.options-down {
  display: inline-block;
  width: 12px;
  height: 0;
  padding-top: 8px;
  margin-left: -7px;
  overflow: hidden;
  background: url("../img/icon-options.png") right top no-repeat;
}
table.status-details tbody tr td:nth-child(5) a.options-down {
  background: url("../img/icon-options-decrease.png") center 1px no-repeat;
}
table.status-details tbody tr .details-color-red {
  background-color: #f57979;
}
table.status-details tbody tr .details-color-blue {
  background-color: #3a8bcc;
}
table.status-details tbody tr .details-color-green {
  background-color: #93eb97;
}
table.status-details tbody tr .details-color-orange {
  background-color: #faa732;
}
table.status-details tbody tr.odd {
  background-color: #f8f8f8;
}
table.status-details tbody tr:last-child {
  border-bottom: none;
}
table.status-details tbody tr:hover {
  background-color: #E2EAF2;
}
table.status-details tfoot td {
  height: 5px;
  border-top: 1px solid #d2d3d5;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background: #767676;
  background: -moz-linear-gradient(top, #888888, #767676);
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#767676));
  background: -webkit-linear-gradient(top, #888888, #767676);
  background: -o-linear-gradient(top, #888888, #767676);
  background: -ms-linear-gradient(top, #767676, #888888);
  background: linear-gradient(to bottom, #888888, #767676);
}
/* ----------- End Patient Queue Table ----------- */
/* -------- Begin Pharmacist Counsel Modal ------- */
p.title {
  width: 95%;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3%;
  border-bottom: 1px solid #ddd;
}
.prescription-list ul {
  height: 120px;
  overflow: auto;
}
.prescription-list ul li.list-item {
  width: 47%;
  float: left;
  margin-left: 3%;
}
/* --------- End Pharmacist Counsel Modal -------- */
/* ----------- Begin Patient Signature ----------- */
.signature-timestamp {
  position: relative;
  bottom: 10px;
  float: right;
  line-height: 0;
}
/* ------------ End Patient Signature ------------ */
