// General
//
@dirImages: "../img";
@dirFonts: "../font";

// Fonts
//
@fontRegular: Helvetica;
@font-extra-small: 11px;
@font-small: 12px;
@font-extra-medium: 13px;
@font-medium: 14px;
@font-extra-big: 17px;
@font-big: 24px;

// Colors
//
@color-black: #515151;
@color-white: #ffffff;
@color-gray: #545454;
@linkColorsOnProfile: #015f9d;


// Sizes
//
@height-screen: 768px;
@radius: 4px;

//this is for the print view
//you will need to mark any styles you are overriding as important.
//eventually we will want to move this out to its own file.
//until we have separate css files for print/screen, this will have to do.  You will have to override any existing styles with !important.
@media print{
  body{
    background: #fff !important;
}
  header, footer, .sidebar, #livechat-full, #livechat-compact-container, .not-printable{
    display:none !important;
  }
  ul#patient-info-print{
      li.patient-info {
        font-size: 12px !important;
        background-color: #FFF9D4 !important;
        .pharmacy-name {
          color: rgb(132, 132, 132) !important;
          font-size: 12px !important;
          font-weight: bold !important;
        }
        .pharmacy-phone {
          color: rgb(143, 143, 143) !important;
          font-size: 10px !important;
        }
        .technician-info {
          float: right !important;
          text-align: right !important;
          color: rgb(143, 143, 143) !important;
          font-size: 10px !important;
        }
        hr {
          border-top: 1px solid rgb(143, 143, 143) !important;
          border-bottom: 0 !important;
          margin: 0 !important;
          margin-left: 20px !important;
        }
        a.btn-call {
          background-color: #52A4CB;
          color: white !important;
          padding: 2px 20px! important;
          font-weight: normal !important;
          letter-spacing: 1px !important;
          font-size: 11px !important;
          border-radius: 2px !important;
        }
        .prescription-data {
          background-color: white !important;
          height: 267px !important;
          width: 334px !important;
          padding: 10px !important;
          margin-top: 5px !important;
          overflow-y: auto !important;
          .rx-number {
            font-size: 14px !important;
            font-weight: bold !important;
          }
          .patient-name {
            font-size: 14px !important;
            font-weight: bold !important;
          }
          .dates{
            width: 109px !important;
            float: right !important;
            text-align: left !important;
          }
          a.patient-history {
            font-size: 11px !important;
          }
          .sig-info {
            padding: 25px 0 0 0 !important;
            font-weight: bold !important;
            font-size: 14px !important;
          }
          .drug-name {
            padding: 10px 0 10px 0 !important;
            font-weight: bold !important;
            font-size: 14px !important;
          }
          .prescriber {
            margin-left: 0 !important;
            font-size: 11px !important;
          }
          .quantity {
            float: right !important;
            text-align: right !important;
            font-size: 11px !important;
            font-weight: bold !important;
          }
        }
      }
    }
  #transfer-information-print{
    margin-left: 30px !important;
    margin-top: 15px !important;
    background-color: darken(#F2F2F2, 10%) !important;
    display:inline-block !important;
    div.wrapper{
      width: 732px !important;
      margin-left: 0 !important;
      margin:10px !important;
      h2{
        font-weight: bold !important;
        font-size: 16px !important;
      }
      div.completed-info{
        height: auto !important;
      }
      div.transfer-pharmacy, div.transfer-pharmacist, div.called-in-by{
        float:left !important;
        margin-bottom:10px !important;
        strong, p{
          font-size:11px !important;
        }
      }
      h3 {
        background: none !important;
        color: black !important;
        border: none !important;
        text-shadow: none !important;
        font-size: 13px !important;
        margin: 5px 0 !important;
        padding: 0 !important;
        color: rgb(70, 70, 70);
      }
      div.transfer-complete{
        clear:both;
        margin : 10px;
        border-top: 1px solid #eee;
        div.right{
          width:auto;
          margin:10px;
          float:right;
          p{
            font-weight: bold;
            display:inline-block;
          }
          a{
            margin-left:10px;
            img{
              height: 16px;
              width: 16px;
            }
          }
        }
      }
    }
  }
}
// Mixins
.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
}
.red-button {
  display: block;
  border: solid 1px #c2423f;
  background: #eb564f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f27a79), to(#eb564f));
  background: -webkit-linear-gradient(top, #f27a79, #eb564f);
  background: -moz-linear-gradient(top, #f27a79, #eb564f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f27a79', endColorstr='#eb564f');
  text-shadow: 1px 1px #9e4848;
  -webkit-box-shadow: inset 1px 1px 0 #fa9f9f;
  -moz-box-shadow: inset 1px 1px 0 #fa9f9f;
  box-shadow: inset 1px 1px 0 #fa9f9f;
  color: @color-white;
  font-size: @font-medium;
  font-weight: bold;
}
.blue-light-button {
  display: inline-block;
  border-top: solid 1px #5bb4e1;
  border-left: solid 1px #5bb4e1;
  border-right: solid 1px #106797;
  border-bottom: solid 1px #106797;
  .border-radius (@radius);
  background: #189acd;
  background: -webkit-gradient(linear, left top, left bottom, from(#79cae5), to(#189acd));
  background: -webkit-linear-gradient(top, #79cae5, #189acd);
  background: -moz-linear-gradient(top, #79cae5, #189acd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79cae5', endColorstr='#189acd');
  text-shadow: 1px 1px #136594;
  -webkit-box-shadow: inset 1px 1px 0 #7fe8fe;
  -moz-box-shadow: inset 1px 1px 0 #7fe8fe;
  box-shadow: inset 1px 1px 0 #7fe8fe;
  color: @color-white;
  font-size: @font-small;
}


/* General Structure
-------------------------------------------------------------- */
body {
  margin: 0;
  padding:0;
  background: #fff;
}

.clear{clear: both;}
.prelative{position:relative;}

a {
  &:hover{text-decoration:none;}
}
.span4.sidebar, .profile, .available-persons, .store-analytics {
  display: block;
  width: 238px;
  margin-left: 0px;
}
.span9.main-content, article.title, article.content {
  display: block;
  width: 781px;
  margin-left: 0px;
}
h1, .btn-fill-rx, a.comments, .search-box, .search, .btn-search, ul.technician-name, ul.technician-name > li > a, ul.technician-name > li > span, .profile img, #btn_available_state, article.title h2, a.view-all, .notifications-technician p, .notifications-technician a, .notifications-pharmacist p, .notifications-pharmacist time, .notifications-pharmacist a, .status-results, .status-results p, .end-status-results, .video-mock, .video-details, ul.flipped, article.patient-information, .gallery-information-up, .item, .drug-prescription, img.main-photo, .btn-talk-pharmacist, .btn-decline-counsel {
  display: block;
  float: left;
}

.notification-display{
  width: 325px;
  height: 30px;
  z-index: 1 !important;
  float: right;
  position: absolute;
  left: 350px;
}
/* Header */
header {
  width: 100%;
  height: 45px;
  background: #767676;
  background: -moz-linear-gradient(top,  #888888, #767676);
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#767676));
  background: -webkit-linear-gradient(top,  #888888, #767676);
  background: -o-linear-gradient(top,  #888888, #767676);
  background: -ms-linear-gradient(top,  #888888, #767676);
  background: linear-gradient(to bottom,  #888888,#767676);

/*
  background: #363636;
  background: -moz-linear-gradient(top,  #484848, #363636);
  background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#363636));
  background: -webkit-linear-gradient(top,  #484848, #363636);
  background: -o-linear-gradient(top,  #484848, #363636);
  background: -ms-linear-gradient(top,  #484848, #363636);
  background: linear-gradient(to bottom,  #484848,#363636);
  border-bottom: 1px solid #8a9199; 
*/

  h1 {
    width: 75px;
    margin-top: 6px;
    text-align: center;
    > a {
      display: block;
      width: 74px;
      height: 3px;
      margin: 0 32px 0 17px;
      padding-top: 30px;
      overflow: hidden;
      background: url("@{dirImages}/telepharm-logo-small-color.png") center top no-repeat;
    }
  }
  h1.general {
    width: 73px;
    margin: 13px 0 0 13px;
    text-align: center;
    > a {
      display: block;
      width: 73px;
      height: 0;
      margin: 0 32px 0 17px;
      padding-top: 32px;
      overflow: hidden;
      background: url("@{dirImages}/telepharm-logo-general.png") center top no-repeat;
    }
  }
  h1#general {
    display: block;
    float: none;
    margin: 13px auto 0 auto;
    padding-right: 30px;
    > a {
      display: block;
      width: 73px;
      height: 0;
      margin: 0 32px 0 17px;
      padding-top: 32px;
      overflow: hidden;
      background: url("@{dirImages}/telepharm-logo-general.png") center top no-repeat;
    }
  }
  .btn-fill-rx {
    width: 110px;
    height: 18px;
    margin: 8px 0 0 36px;
    padding-top: 8px;
    border: 1px solid #1484b2;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-box-shadow: inset 1px 1px 0 #94e8ff;
    -webkit-box-shadow: inset 1px 1px 0 #94e8ff;
    box-shadow: inset 1px 1px 0 #94e8ff;
    background: url("@{dirImages}/bg-btn-fill-rx.jpg") left top repeat-x;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
    text-shadow: 1px 1px #094c80;
    cursor: pointer;
    text-align: center;
  }
/*
  .btn-fill-rx {
    width: 110px;
    height: 18px;
    margin: 16px 0 0 36px;
    padding-top: 8px;
    border: 1px solid #1484b2;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-box-shadow: inset 1px 1px 0 #94e8ff;
    -webkit-box-shadow: inset 1px 1px 0 #94e8ff;
    box-shadow: inset 1px 1px 0 #94e8ff;
    background: url("@{dirImages}/bg-btn-fill-rx.jpg") left top repeat-x;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
    text-shadow: 1px 1px #094c80;
    cursor: pointer;
    text-align: center;
    &:hover{text-decoration: none;}
  }
*/
  h2 {
    padding: 21px  0 0 161px;
    color: #fdfdfd;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 1px;
  }
  a.comments {
    margin: 12px 0 0 0;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
    vertical-align: middle;
    &:hover {text-decoration: none;}
  }
  a.comments-selected {
    text-shadow: 1px 1px #094c80;
  }
  a.tablets-active {
    cursor: pointer;
    background: white url("@{dirImages}/counsel-in-header.png") 8px center no-repeat;
    margin-top: 9px;
    display: inline-block;
    margin-left: -445px;
    border: 1px solid #53C3E8;
    padding: 5px 13px 5px 25px;
    border-radius: 2px;
    background-color: white;
    color: #53C3E8;
    box-shadow: #53C3E8 0 0 5px;
    font-weight: bold;
    font-size: 13px;
    &.in-prescription {
      margin-left: 20px;
    }
  }
}

header.admin {
  height: 85px;
  margin-bottom: 10px;
  .navbar {
    .navbar-inner {
      border-radius: 0px;
      .nav {
        margin: 0 auto;
        width: 1020px;
        text-align: center;
        float: none;
      }
    }
  }
}

.search-box {
  width: 341px;
  height: 32px;
  margin: 5px 0 0 130px;
  input[type="text"].search {
    width: 303px;
    height: 32px;
    padding: 1px 0 0 8px;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999999;
    font-family: @fontRegular;
    font-size: @font-medium;
  }
  input[type="submit"].btn-search {
    position: relative;
    right: 20px;
    top: 11px;
    width: 28px;
    height: 30px;
    margin-left: -1px;
    padding: 0;
    border: none;
    font-size: 0px;
    background: url("@{dirImages}/dropdown.png") left top no-repeat;
    cursor: pointer;
  }
}
/*
.search-box {
  width: 197px;
  height: 22px;
  margin: 20px 0 0 214px;
  input[type="text"].search {
    width: 159px;
    height: 18px;
    padding: 1px 0 0 8px;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 2px 0 0 3px;
    -moz-border-radius: 2px 0 0 3px;
    border-radius: 2px 0 0 3px;
    color: #999999;
    font-family: @fontRegular;
    font-size: @font-extra-small;
  }
  input[type="submit"].btn-search {
    width: 28px;
    height: 22px;
    margin-left: -1px;
    padding: 0;
    border: none;
    font-size: 0px;
    background: url("@{dirImages}/search-submit.png") left top no-repeat;
    cursor: pointer;
  }
}
*/
ul.technician-name {
  margin: 17px 0 0 0;
  float: right;
  padding-right: 38px;
  padding-left: 10px;
  > li.dropdown {
    > a#dLabel.dropdown-toggle {
      width:225px;
      color: #ffffff;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: @font-small;
      text-shadow: 1px 1px #323232;
      text-align: right;
      &:hover {text-decoration: none;}
    }
    span.name {
      width: 210px;
      position: relative;
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
    span.dropdown-arrow {
      display: inline-block;
      width: 9px;
      height: 0;
      padding: 11px 0 0 2px;
      overflow: hidden;
      border-top: none;
      background: url("@{dirImages}/arrow-technician-name.png") right 4px no-repeat;
      cursor: pointer;
    }
   ul.dropdown-menu{
      margin: 17px 0 0 65px;
    }
  }
}

/*Comments List*/
.comments-list{
  max-height: 190px;
  overflow-y: auto;
  margin-bottom: 5px;
  li{
    cursor:pointer;
    clear:both;
    overflow: hidden;
    background:#E5E7ED;
    padding: 5px;
    &.read{
      background: none;
    }
    .comment-author {
      color: #316CA2;
      font-weight: bold;
      font-size: 11px;
      display: inline-block;
      text-overflow: "";
      max-width: 88px;
      white-space: nowrap;
      overflow: hidden;
    }
    .comment-text{
      font-size: 11px;
      display: block;
    }
    .comment-datetime{
      display: inline-block;
      font-style: italic;
      font-size: 10px;
    }
    .log-type {
      display: inline-block;
      font-size: 11px;
    }
    .log-text {
      font-size: 11px;
      display: inline-block;
    }
  }
}
#prescription-comments-box{
  max-height: 347px;
  overflow-y: auto;
}

/* Section */
div.span4.sidebar{height: 15px !important;}

section {
  .span4.sidebar {
    .profile {
      height: 68px;
      img {
        width: 79px;
        height: 68px;
      }
      #btn_available_state {
        width: 157px;
        height: 66px;
        border: 1px solid #92ae73;
        -moz-box-shadow: inset 1px 1px 0 #e3f8d7;
        -webkit-box-shadow: inset 1px 1px 0 #e3f8d7;
        box-shadow: inset 1px 1px 0 #e3f8d7;
        background: #aac689;
        background: -moz-linear-gradient(top,  #cff1a5, #aac689);
        background: -webkit-gradient(linear, left top, left bottom, from(#cff1a5), to(#aac689));
        background: -webkit-linear-gradient(top,  #cff1a5, #aac689);
        background: -o-linear-gradient(top,  #cff1a5, #aac689);
        background: -ms-linear-gradient(top,  #cff1a5, #aac689);
        background: linear-gradient(to bottom,  #cff1a5,#aac689);
        text-align: center;
        cursor: pointer;
        > p {
          padding: 14px 0 0 0;
          color: #547d24;
          font-family: @fontRegular;
          font-weight: bold;
          font-size: @font-extra-big;
          text-shadow: 2px 2px #daf0c9;
          letter-spacing: 1px;
        }
        > a {
          color: #3e591e;
          font-family: @fontRegular;
          font-size: @font-extra-small;
          &:hover {text-decoration: none;}
        }
      }
      #btn_available_state.unavailable {
        border: 1px solid gray;
        background: rgb(245,246,246); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
        > p {
          color: #2b3028;
          text-shadow: 1px 2px #DFE0E4;
          font-weight: bold;
        }
      }
    }
  }
}
.bg-gradient {
  border-bottom: 1px solid #e8ecef;
  border-right: 1px solid #d2d9df;
  background: #e6eaed;
  background: -moz-linear-gradient(top,  #fbfbfb, #e6eaed);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e6eaed));
  background: -webkit-linear-gradient(top,  #fbfbfb, #e6eaed);
  background: -o-linear-gradient(top,  #fbfbfb, #e6eaed);
  background: -ms-linear-gradient(top,  #fbfbfb, #e6eaed);
  background: linear-gradient(to bottom,  #fbfbfb,#e6eaed);
}
.bg-gradient-additional {
  border-top: 1px solid #d2d9df;
  border-bottom: 1px solid #d2d9df;
  background: #f1f2f4;
  background: -moz-linear-gradient(top,  #fffefc, #f1f2f4);
  background: -webkit-gradient(linear, left top, left bottom, from(#fffefc), to(#f1f2f4));
  background: -webkit-linear-gradient(top,  #fffefc, #f1f2f4);
  background: -o-linear-gradient(top,  #fffefc, #f1f2f4);
  background: -ms-linear-gradient(top,  #fffefc, #f1f2f4);
  background: linear-gradient(to bottom,  #fffefc,#f1f2f4);
}

/* Index
-------------------------------------------------------------- */
section.container.main {
  height: @height-screen;
  background: none;
  overflow: hidden;
  h1 {
    display: block;
    width: 1020px;
    margin-top: 272px;
    text-align: center;
    > a {
      display: block;
      width: 619px;
      height: 0;
      margin: 0 auto;
      padding-top: 263px;
      overflow: hidden;
      background: url("@{dirImages}/telepharm-logo.png") center top no-repeat;
      &:hover {text-decoration: none;}
    }
  }
  h2 {
    display: block;
    clear: both;
    float: none !important;
    width: 1020px;
    padding-top: 173px;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-big;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
  }
}

/* Technician and Pharmacists
-------------------------------------------------------------- */
section h3 {
  width: 229px;
  height: 20px;
  padding: 17px 0 0 0;
  border-bottom: 1px solid #eee;
  font-family: @fontRegular;
  color: #aaa;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
/*
section h3 {
  width: 229px;
  height: 25px;
  padding: 7px 0 0 8px;
  border-top: 1px solid #a7abae;
  border-right: 1px solid #a0a9b0;
  border-bottom: 1px solid #a1a9b4;
  background: #b7c0c5;
  background: -moz-linear-gradient(top,  #989fa7, #b7c0c5);
  background: -webkit-gradient(linear, left top, left bottom, from(#989fa7), to(#b7c0c5));
  background: -webkit-linear-gradient(top,  #989fa7, #b7c0c5);
  background: -o-linear-gradient(top,  #989fa7, #b7c0c5);
  background: -ms-linear-gradient(top,  #989fa7, #b7c0c5);
  background: linear-gradient(to bottom,  #989fa7,#b7c0c5);
  color: @color-white;
  font-family: @fontRegular;
  font-weight: bold;
  font-size: @font-medium;
  letter-spacing: 1px;
  text-shadow: -1px -1px #656a6d;
}
*/
section h3.popover-title {
  display:none;
}

.calling {
  margin: 10px 13px 0;
  color: #777;
  font-weight: bold;
  font-size: 13px;
}
.available-persons {
  width: 219px;
  padding: 13px 9px;
  min-height: 35px;
  height: 100px;
  overflow: auto;
  ul > li.store-name {
    font-size: @font-small;
    margin-left: 11px;
    margin-top: -3px;
    color: #4f4f4f;
    span {
      color: #2881C3;
    }
  }
  ul > li.technician-pharmacists {
    display: block;
    width: 208px;
    height: 22px;
    margin: 5px 0;
    position: relative;
    border: 1px solid #d3d7da;
    background-color: #ffffff;
    border-radius: 10px;
    > p {
      float: left;
      width: 161px;
      padding: 3px 11px;
      color: #4f4f4f;
      font-family: @fontRegular;
      font-size: @font-small;
    }
    > a {
      display: block;
      float: left;
      position: absolute;
      right: -7px;
      top: -2px;
      width: 33px;
      height: 23px;
      border: 1px solid #ced2d5;
      -webkit-border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
      border-radius: 0 10px 10px 0;
      -webkit-box-shadow: 0 -3px 3px -3px #c8c8cd;
      -moz-box-shadow: 0 -3px 3px -3px #c8c8cd;
      box-shadow: 0 -3px 3px -3px #c8c8cd;
      background: #d2d3d5;
      background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f2), to(#d2d3d5));
      background: -webkit-linear-gradient(top, #f0f0f2, #d2d3d5);
      background: -moz-linear-gradient(top, #f0f0f2, #d2d3d5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f2', endColorstr='#d2d3d5');
      &:hover {text-decoration: none;}
      .icon-video {
        display: block;
        width: 18px;
        height: 16px;
        margin: 3px auto;
        padding-top: 18px;
        overflow: hidden;
        background: url("@{dirImages}/bg-btn-video.png") center top no-repeat;
      }
    }
  }
}
.store-box {
  margin-top: 32px;
  .store-analytics {
    width: 224px;
    height: 235px;
    padding: 16px 13px 0 0;
    background: #ffffff;
    text-align: center;
  }
}

article.title {
  width: 721px;
  height: 44px;
  margin: 6px 30px;
  padding-bottom: 7px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  h2 {
    margin: 17px 10px 0 0;
    color: #4f4f4f;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-extra-big;
    letter-spacing: 1px;
  }
  a.view-all {
    margin-top: 22px;
    color: #2882ce;
    font-family: @fontRegular;
    font-size: @font-small;
    &:hover {text-decoration: none;}
  }
  /* Notifications Button of Technicians */
  .notifications-technician {
    width: 264px;
    height: 33px;
    position: absolute;
    z-index:2;
    top: 0px;
    right: 8px;
    border: 1px solid #1d69a7;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -moz-box-shadow: inset 1px 1px 0 #3c86c8;
    -webkit-box-shadow: inset 1px 1px 0 #3c86c8;
    box-shadow: inset 1px 1px 0 #3c86c8;
    -webkit-box-shadow: 0 4px 2px -2px #b3b6b8;
    -moz-box-shadow: 0 4px 2px -2px #b3b6b8;
    box-shadow: 0 4px 2px -2px #b3b6b8;
    background: url("@{dirImages}/bg-btn-notifications.jpg") left top repeat-x;
    p {
      padding: 10px 5px 0 15px;
      color: #ffffff;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: @font-small;
      text-shadow: 1px 1px #1d5087;
    }
    a {
      padding-right: 13px;
      margin-top: 11px;
      background: url("@{dirImages}/arrow-notification.png") 48px 3px no-repeat;
      color: #fffcb5;
      font-family: @fontRegular;
      font-size: @font-small;
      text-shadow: 1px 1px #1d5087;
      &:hover {text-decoration: none;}
    }
  }
  /* Notifications Button of Pharmacist */
  .notifications-pharmacist {
    width: 264px;
    height: 49px;
    position: absolute;
    z-index:2;
    top: 0px;
    right: 8px;
    border: 1px solid #1d69a7;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -moz-box-shadow: inset 1px 1px 0 #3c86c8;
    -webkit-box-shadow: inset 1px 1px 0 #3c86c8;
    box-shadow: inset 1px 1px 0 #3c86c8;
    -webkit-box-shadow: 0 4px 2px -2px #b3b6b8;
    -moz-box-shadow: 0 4px 2px -2px #b3b6b8;
    box-shadow: 0 4px 2px -2px #b3b6b8;
    background: url("@{dirImages}/bg-btn-notifications-pharmacist.jpg") left top repeat-x;
    font-size: @font-small;
    a.close {
      display: block;
      width: 9px;
      height: 0;
      position: absolute;
      z-index:4;
      top: 4px;
      right: 8px;
      opacity:1;
      margin: 0 auto;
      padding-top: 9px;
      overflow: hidden;
      background: url("@{dirImages}/btn-notifications-close.png") center top no-repeat;
      font-size: 8px;
      &:hover {text-decoration: none;}
    }
    p {
      padding: 10px 8px 0 15px;
      color: #ffffff;
      font-family: @fontRegular;
      font-weight: bold;
      text-shadow: 1px 1px #1d5087;
    }
    time {
      margin-top: 11px;
      color: #91c5f1;
      font-family: @fontRegular;
    }
    a {
      margin: 2px 0 0 15px;
      color: #fffcb5;
      font-family: @fontRegular;
      text-shadow: 1px 1px #1d5087;
      &:hover {text-decoration: none;}
    }
  }
}
article.content {
  width: 735px;
  margin: 16px 23px;
  ul.approval-status {
    display: block;
    width: 735px;
    margin: 6px 0 20px 6px;
    text-align: center;
    > li {
      display: inline-block;
      padding-right: 39px;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: @font-extra-medium;
      cursor: pointer;
      > span {
        float: left;
        width: 40px;
        height: 18px;
        padding-top: 2px;
        margin: -2px 8px 0 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #ffffff;
        font-family: @fontRegular;
        font-weight: bold;
        font-size: @font-medium;
        text-align: center;
        line-height: 1.2em;
      }

    }
    li.draft {
      color: #777;
      span {
        background-color: #777;
      }
    }
    li.rejected {
      color: #be2626;
      span {
        background-color: #be2626;
      }
    }
    li.approval {
      color: #17a11b;
      span {
        background-color: #17a11b;
      }
    }
    li.counsel {
      color: #2882ce;
      span {
        background-color: #2882ce;
      }
    }
    li.transfer{
      color : #faa732;
      span{
        background-color: #faa732;
      }
    }
  }
}

/* Counsel Screen */
section h4 {
  width: 226px;
  padding: 11px 0 6px 11px;
  border-top: 1px solid #c1c5c8;
  border-right: 1px solid #c2c7c8;
  border-bottom: 1px solid #c1c5c8;
  background: #d9dce1;
  background: -moz-linear-gradient(top,  #fefefe, #d9dce1);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d9dce1));
  background: -webkit-linear-gradient(top,  #fefefe, #d9dce1);
  background: -o-linear-gradient(top,  #fefefe, #d9dce1);
  background: -ms-linear-gradient(top,  #fefefe, #d9dce1);
  background: linear-gradient(to bottom,  #fefefe,#d9dce1);
  color: #424242;
  font-family: @fontRegular;
  font-weight: bold;
  font-size:  @font-small;
  letter-spacing: 1px;
  a {
    color: #424242;
    &:hover {
      text-decoration: none;
      color: #424242;
    }
  }
  b.caret {
    width: 7px;
    height: 0px;
    margin: 5px 4px 0 0;
    padding-top: 5px;
    overflow: hidden;
    border-top: none;
    background: url("@{dirImages}/arrow-drop-down.png") center top no-repeat;
    cursor: pointer;
    float: right;
  }
  b.caret.auxillary {
    float: none;
  }
  a.add-label {
    float: right;
    margin-right: 13px;
    color: #0a8ab5;
    font-family: @fontRegular;
    font-size: @font-extra-small;
    letter-spacing: 0px;
  }
}
section h4.comments-title {
  padding: 0 0 0 11px;
  .nav-tabs {
    border: 0;
    margin-bottom: 0;
    li {
      position: relative;
      &.active .arrow, &active .arrow:after {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        content: "";
        z-index: -1;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        border-width: 10px 10px 0;
        border-top-color: #D6D9DE;
      }
    }
    li > a {
      font-weight: normal;
    }
    .active > a,
    .active > a:hover {
      font-weight: bold;
      color: #555555;
      background-color: transparent;
      border-bottom-color: transparent;
      border: 0;
      cursor: default;
    }
  }
}
h4.prescriptions {
  width: 237px;
  padding: 9px 0 3px 0;
  font-size:  15px;
  text-align:center;
  span { display: block; }
  &.details-color-red {
    background-image: -webkit-linear-gradient(bottom, darken(#f57979, 30%), #f57979);
    color: white;
    text-shadow: gray 1px 1px 2px;
  }
  &.details-color-blue {
    background-image: -webkit-linear-gradient(bottom, darken(#3a8bcc, 30%), #3a8bcc);
    color: white;
    text-shadow: gray 1px 1px 2px;
  }
  &.details-color-green {
    background-image: -webkit-linear-gradient(bottom, darken(#93eb97, 30%), #93eb97);
    color: white;
    text-shadow: gray 1px 1px 2px;
  }
  &.details-color-orange {
    background-image: -webkit-linear-gradient(bottom, darken(#faa732, 0%), #faa732);
    color: white;
    text-shadow: gray 1px 1px 2px;
  }
}
.prescriptions-btns {
  width: 223px;
  height: 193px;
  padding: 7px;
  text-align: center;
  .print{
    display: block;
    margin-top:10px;
    img{
      width: 16px;
      height: 16px;
    }
  }
  button {
    display: block;
    width: 170px;
    height: 35px;
    margin: 10px auto;
    padding-top: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-medium;
    cursor: pointer;
  }
  .btn-approve-rx {
    border: 1px solid #0087ba;
    -moz-box-shadow: inset 1px 1px 0 #7ce6fd;
    -webkit-box-shadow: inset 1px 1px 0 #7ce6fd;
    box-shadow: inset 1px 1px 0 #7ce6fd;
    background: url("@{dirImages}/bg_btn_approve.jpg") left top repeat-x;
    text-shadow: 1px 1px #006191;
    cursor: pointer;
  }
  .btn-complete-counsel {
    border: 1px solid #e39100;
    -moz-box-shadow: inset 1px 1px 0 #ffe691;
    -webkit-box-shadow: inset 1px 1px 0 #ffe691;
    box-shadow: inset 1px 1px 0 #ffe691;
    background: url("@{dirImages}/bg-btn-complete-counsel.jpg") left top repeat-x;
    text-shadow: 1px 1px #b36c00;
  }
  .btn-request-counsel {
    border: 1px solid #e39100;
    -moz-box-shadow: inset 1px 1px 0 #ffe691;
    -webkit-box-shadow: inset 1px 1px 0 #ffe691;
    box-shadow: inset 1px 1px 0 #ffe691;
    background: url("@{dirImages}/bg-btn-complete-counsel.jpg") left top repeat-x;
    text-shadow: 1px 1px #b36c00;
  }
  .btn-reject {
    border: 1px solid #ae303b;
    -moz-box-shadow: inset 1px 1px 0 #ffadaf;
    -webkit-box-shadow: inset 1px 1px 0 #ffadaf;
    box-shadow: inset 1px 1px 0 #ffadaf;
    background: url("@{dirImages}/bg-btn-reject.jpg") left top repeat-x;
    text-shadow: 1px 1px #a4252e;
  }
  .btn-edit {
    background-color: hsl(0, 0%, 31%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#828282", endColorstr="#4f4f4f");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#828282), to(#4f4f4f));
    background-image: -moz-linear-gradient(top, #828282, #4f4f4f);
    background-image: -ms-linear-gradient(top, #828282, #4f4f4f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #828282), color-stop(100%, #4f4f4f));
    background-image: -webkit-linear-gradient(top, #828282, #4f4f4f);
    background-image: -o-linear-gradient(top, #828282, #4f4f4f);
    background-image: linear-gradient(#828282, #4f4f4f);
    border-color: #4f4f4f #4f4f4f hsl(0, 0%, 26%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
  }
  .btn-darkblue {
    background-color: hsl(214, 37%, 28%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
    background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
    background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
    background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
    background-image: linear-gradient(#7a99c1, #2c4361);
    border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
    -webkit-font-smoothing: antialiased;
  }
}

.accordion {
  width: 237px;
  height: auto;
  margin-bottom: 0;
  border-right: 1px solid #d2d9df;
  h4 {
    font-size: 11px;
  }

  .add-prescriptions {
    height: 200px;
    overflow-y: auto;
    ul {
      width : auto;
      height:auto;
      .load-more-add-prescriptions{
        background-color: rgb(221, 247, 200);
        border-top: 1px solid #d2d9df;
        text-align: center;
        clear:both;
        a{
          color: #424242;
          display:block;
          font-weight: bold;
        }
      }
      .append-results-break{
        clear:both;
        text-align: center;
        p{
          color: #424242;
        }
        border : 1px solid #d2d9df;
      }
      .final{
        background-color: rgb(254, 202, 202);
        border-top: 1px solid #d2d9df;
        text-align: center;
        clear:both;
        p{
          color: #424242;
          font-weight: bold;
        }
      }
      li {
        margin: 0;
        div.container{
          width:inherit;
          border-bottom: 1px solid #d2d9df;
        }
        div.last-container{
          width:inherit;
        }
          div.left{
            margin-left: 3px;
            width : 155px;
            float:left;
            .description{
              float:left;
              font-style: italic;
              font-size: 10px;
              display:inline;
            }
            p {
              clear:left;
              display:inline;
              color: #424242;
              font-family: @fontRegular;
              font-size: @font-small;
              strong {
                font-family: @fontRegular;
                font-weight: bold;
              }
            }
          }
          div.right{
            height:38px;
            float : right;
            vertical-align: middle;
            button{
              margin-right: 3px;
              margin-top: 7px;
              text-align: center;
            }
          }
      }
    }
  }

#additional-rx{width: 100%;}

  .auxillary-information {
    width: 212px;
    height: 116px;
    padding: 6px 12px;
    border-top: 1px solid #e1e5e8;
    border-bottom: 1px solid #e1e5e8;
    overflow-y: auto;
    ul {
      > li {
        display: block;
        margin-top: 5px;
        padding: 4px 4px 0px 4px;
        color: #424242;
        font-family: @fontRegular;
        font-weight: bold;
        font-size: 10px;
        > label {
          font-size: 10px;
          display: inline;
        }
      }
    }
  }
  time.patient {
    display: block;
    width: 196px;
    height: 33px;
    padding: 23px 18px 0 23px;
    border-top: 1px solid #d1d2d4;
    background: #e9eaee;
    background: -moz-linear-gradient(left,  #f5f5f7, #e9eaee);
    background: -webkit-gradient(linear, left top, right top, from(#f5f5f7), to(#e9eaee));
    background: -webkit-linear-gradient(left,  #f5f5f7, #e9eaee);
    background: -o-linear-gradient(left,  #f5f5f7, #e9eaee);
    background: -ms-linear-gradient(left,  #f5f5f7, #e9eaee);
    background: linear-gradient(to right,  #f5f5f7,#e9eaee);
    color: #424242;
    font-family: @fontRegular;
    font-size: @font-small;
    text-align: right;
  }
}
article.video-counseling {
  width: 749px;
  height: auto;
  padding: 16px;
  background: #ffffff;
  display: block;
  .video-mock {
    width: 235px;
    height: 178px;
    padding: 6px;
    margin-right: 21px;
    border: 1px solid #d1d1d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 3px #c9c9c9;
    -webkit-box-shadow: 0 0 3px #c9c9c9;
    box-shadow: 0 0 3px #c9c9c9;
  }
  .video-details {
    width: 466px;
    height: auto;
    padding-top: 12px;
    p {
      padding-right: 51px;
      color: #4f4f4f;
      font-family: @fontRegular;
      font-size: @font-small;
      line-height: 1.5;
      strong {
        padding-bottom: 0px;
        font-family: @fontRegular;
        font-weight: bold;
      }
    }
    p.comments {
      margin: 33px 0 1px 0;
    }
    textarea#comments {
      width: 452px;
      height: 46px;
      margin-bottom: 6px;
      border: 1px solid #dbdbdb;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .btn-add-comments {
      display: block;
      width: 100px;
      height: 29px;
      padding-top: 5px;
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      border-radius: @radius;
      border: 1px solid #0087ba;
      -moz-box-shadow: inset 1px 1px 0 #7ce6fd;
      -webkit-box-shadow: inset 1px 1px 0 #7ce6fd;
      box-shadow: inset 1px 1px 0 #7ce6fd;
      background: url("@{dirImages}/bg-btn-add-comment.jpg") left top repeat-x;
      text-shadow: 1px 1px #006191;
      color: @color-white;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: 10px;
      cursor: pointer;
    }
  }
}
article.patient-information {
  position: relative;
  width: 781px;
  min-height: 830px;
  background: #ffffff;
  display: block;
  h2 {
    padding: 26px 0px 0 0px;
    margin: 0px 22px 6px 22px;
    border-bottom: 1px solid #e8e8e8;
    color: #117bae;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
  }
  ul.flipped {
    width: 160px;
    margin-left:22px;
    > li {
      display: block;
      color: #424242;
      font-family: @fontRegular;
      font-size: @font-small;
      strong {
        font-weight: bold;
      }
      > a.patient-history {
        color: #1282b8;
        font-family: @fontRegular;
        font-size: @font-extra-small;
        &:hover {text-decoration: none;}
      }
    }
  }
  .gallery-information-up {
    display: block;
    width: 779px;
    height: auto;
    margin: 16px 0 0 2px;
    padding-top: 5px;
    background: url("@{dirImages}/bg-gallery-up.jpg") -2px top no-repeat;
    background-color: #eaebef;
    .gallery-information-down {
      height: 261px;
      padding: 0 0 15px 25px;
      background: url("@{dirImages}/bg-gallery-down.jpg") -2px bottom no-repeat;
      .item {
        margin: 0 21px 0 0;
        position: relative;
        p {
          display: block;
          padding: 11px 0 6px 0px;
          color: #4f4f4f;
          font-family: @fontRegular;
          font-weight: bold;
          font-size: @font-extra-small;
        }
        img {
          display: block;
          width: 215px;
          height: 210px;
          padding: 6px;
          border: 1px solid #b2b2b2;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          -moz-box-shadow: 0 0 3px #dbdcde;
          -webkit-box-shadow: 0 0 3px #dbdcde;
          box-shadow: 0 0 3px #dbdcde;
          background-color: #ffffff;
        }
        img.medispan {
          position: absolute;
          top: 32px;
          left: -20px;
          width: 40px;
          height: 40px;
          z-index: 1000;
        }
        .loading{
          background: url("../img/loading-bar.gif") 0 0 no-repeat;
          width: 130px;
          height: 15px;
          position: absolute;
          display: none;
          top: 230px;
          left: 50px;
        }
        &.uploading .loading{
          display: block;
        }
      }
    }
    .images-paginator {
      height: 33px;
      width: 100%;
      background-color: #F3F3F3;
      .previous {
        height: 33px;
        text-align: center;
        width: 48px;
        background-color: #4183B2;
        float: left;
        i {
          margin-top: 10px;
          color: white;
        }
      }
      .upload{
        width: 683px;
        float: left;
        text-align: center;
        padding-top: 8px;
      }
      .next {
        height: 33px;
        text-align: center;
        width: 48px;
        background-color: #4183B2;
        float: left;
        i {
          margin-top: 10px;
          color: white;
        }
      }
    }
  }
  .drug-prescription {
    width: 333px;
    height: 25px;
    padding-bottom: 5px;
    margin: 23px 35px 13px 22px;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
    a {
      width: 331px;
      color: #117bae;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: 16px;
      &:hover {text-decoration: none;}
    }
    b.caret {
      width: 5px;
      height: 0px;
      margin: 6px 10px 0 12px;
      padding-top: 7px;
      overflow: hidden;
      border-top: none;
      background: url("@{dirImages}/arrow-drug-prescription.png") center top no-repeat;
      cursor: pointer;
      &.open-caret {
        background: url("@{dirImages}/arrow-drug-prescription-down.png") center top no-repeat;
      }
    }
  }
}
#btn-audio-toogle{
  margin: 0;
  display: block;
  position: absolute;
  top: 4px;
  right: 5px;
  width: 32px;
  height: 23px;
  background: url("@{dirImages}/telep_speakermute.png") no-repeat;
  border: 0;
  &.active{
    background: url("@{dirImages}/telep_speakeron.png") no-repeat;
  }
}

#btn-reload{
  margin-: 0;
  display: block;
  position: absolute;
  top: 4px;
  right: 42px;
  width: 32px;
  height: 23px;
  border: 0;
  background: url("@{dirImages}/reload.png") no-repeat;
}

/* Verify RX */
.gallery-information-up.verify-rx {
  margin-top: 41px !important;
  padding-top: 12px !important;
  .gallery-information-down.verify-rx {
    height: 289px !important;
    padding-left: 15px !important;
    .item {
      margin-right: 16px;
      p {
        padding: 11px 0 6px 0px;
      }
      img {
        width: 224px !important;
        height: 219px !important;
      }
      img.medispan {
        top: 28px;
        width: 40px !important;
        height: 40px !important;
        z-index: 1000;
      }
    }
    :last-child {
      margin-right: 0px;
    }
  }
}
.drug-prescription.verify-rx {
  height: 222px !important;
  margin-top: 15px !important;
  border-bottom: none !important;
  h5 {
    padding-bottom: 11px;
    border-bottom: 1px solid #ececec;
    color: #117bae;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 16px;
  }
  p {
    padding: 9px 0 0 0;
    color: #424242;
    font-family: @fontRegular;
    font-size: @font-extra-small;
    line-height: 1.4;
    strong {
      font-weight: bold;
    }
  }
  a.read-more {
    display: block;
    margin-top: 5px;
    color: #2d84ac;
    font-family: @fontRegular;
    font-size: @font-extra-small;
    &:hover {text-decoration: none;}
  }
}

/* Fill Rx Technician */
.fill-rx-btns {
  width: 225px;
  padding: 6px;
  text-align: center;
  button {
    display: block;
    width: 170px;
    height: 35px;
    margin: 10px auto;
    padding-top: 6px;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-medium;
    cursor: pointer;
    &.btn-draft {
      text-shadow: rgb(71,71,71) 1px 1px 2px;
    }
  }
  .btn-submite-rx {
    border: 1px solid #0087ba;
    -moz-box-shadow: inset 1px 1px 0 #7ce6fd;
    -webkit-box-shadow: inset 1px 1px 0 #7ce6fd;
    box-shadow: inset 1px 1px 0 #7ce6fd;
    background: url("@{dirImages}/bg_btn_approve.jpg") left top repeat-x;
    text-shadow: 1px 1px #006191;
  }
  .btn-cancel {
    border: 1px solid #ae303b;
    -moz-box-shadow: inset 1px 1px 0 #ffadaf;
    -webkit-box-shadow: inset 1px 1px 0 #ffadaf;
    box-shadow: inset 1px 1px 0 #ffadaf;
    background: url("@{dirImages}/bg-btn-reject.jpg") left top repeat-x;
    text-shadow: 1px 1px #a4252e;
  }
  .link-cancel {
    cursor: pointer;
  }
}
.prescription-options {
  height: 126px;
  ul {
    > li {
      display: block;
      height: 19px;
      padding: 4px 4px 0px 16px;
      label {
        display: block;
        float: left;
        color: #424242;
        font-family: @fontRegular;
        font-size: @font-small;
        &.checked{font-weight: bold;}
      }
    }
  }
  div.set-priority{
    padding: 4px 4px 0px 16px;
    label {
      display: inline-block;
      color: #424242;
      font-family: @fontRegular;
      font-size: @font-small;
    }
  }
}
.prescription-comments {
  height: auto;
  padding-left: 10px;
  button {
    display: block;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: normal;
    font-size: @font-small;
    cursor: pointer;
    border: 1px solid #0087ba;
    -moz-box-shadow: inset 1px 1px 0 #7ce6fd;
    -webkit-box-shadow: inset 1px 1px 0 #7ce6fd;
    box-shadow: inset 1px 1px 0 #7ce6fd;
    background: url("@{dirImages}/bg_btn_approve.jpg") left top repeat-x;
    text-shadow: 1px 1px #006191;
    margin-bottom: 10px;
  }
}
.gallery-information-up.verify-rx.fill {
  margin-top: 27px !important;
  .gallery-information-down.verify-rx.fill {
    height: 302px !important;
    .item {
      margin-right: 16px;
      width: 238px;
      p {
        padding-top: 7px !important;
      }
      > a.re-take-photo {
        display: block;
        margin-top: 8px;
        padding-left: 21px;
        background: url("@{dirImages}/icon-re-take-photo.png") 4px 2px no-repeat;
        color: #056898;
        font-family: @fontRegular;
        font-size: @font-extra-small;
        &:hover {text-decoration: none;}
      }
      > a.upload-photo {
        display: block;
        margin-top: 7px;
        padding-left: 21px;
        background: url("@{dirImages}/icon-upload-photo.png") 4px 2px no-repeat;
        color: #056898;
        font-family: @fontRegular;
        font-size: @font-extra-small;
        &:hover {text-decoration: none;}
      }
    }
  }
}

/* Patient Home */
article.personal-data {
  height: 160px;
  padding: 36px;
  border-bottom: 1px solid #a8b5be;
  img.main-photo {
    display: block;
    width: 99px;
    height: 112px;
    padding: 6px;
    margin-right: 14px;
    border: 1px solid #d0d0ce;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #d8d8d8;
    -webkit-box-shadow: 0 0 3px #d8d8d8;
    box-shadow: 0 0 3px #d8d8d8;
    background-color: #ffffff;
  }
  ul.flipped {
    width: 298px;
    > li {
      display: block;
      padding-bottom: 9px;
      color: #424242;
      font-size: 23px;
      > strong {
        font-family: @fontRegular;
        font-weight: bold;
        font-size: 23px;
        font-weight: normal;
        letter-spacing: 1px;
      }
      > p {
        font-family: @fontRegular;
        font-size: 18px;
        line-height:1.4;
      }
      p.rx {
        margin-top: 6px;
      }
    }
  }
}
article.sign-up-information {
  height: 430px;
  padding: 32px 33px;
  p {
    padding-bottom: 22px;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  ul {
    padding: 0 0 124px 29px;
    > li {
      display: block;
      height: 21px;
      margin: 5px 0 13px 0;
      padding: 4px 4px 0px 4px;
      label {
        display: block;
        float: left;
        color: #424242;
        font-family: @fontRegular;
        font-size: 23px;
      }
    }
  }
  input.sign-here {
    width: 569px;
    height: 48px;
    padding: 8px;
    margin: 0 350px 17px 13px;
    border: 1px solid #dadadc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #bababa;
    font-family: @fontRegular;
    font-size: 18px;
    font-style: italic;
  }
  .btn-talk-pharmacist {
    display: block;
    width: 233px;
    height: 51px;
    margin: 0 16px;
    padding-top: 5px;
    border: 1px solid #509d1d;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 1px 1px 0 #c6fe99;
    -webkit-box-shadow: inset 1px 1px 0 #c6fe99;
    box-shadow: inset 1px 1px 0 #c6fe99;
    background: url("@{dirImages}/bg-btn-talk-pharmacist.jpg") left top repeat-x;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-extra-big;
    text-shadow: 1px 1px #3E7C15;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .btn-decline-counsel {
    width: 154px;
    height: 33px;
    margin: 11px 0 0 9px;
    padding-top: 5px;
    border: 1px solid #c4c5c7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 1px 1px 0 #ffffff;
    -webkit-box-shadow: inset 1px 1px 0 #ffffff;
    box-shadow: inset 1px 1px 0 #ffffff;
    background: #d2d3d5;
    background: -moz-linear-gradient(top,  #eaeaea, #d2d3d5);
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#d2d3d5));
    background: -webkit-linear-gradient(top,  #eaeaea, #d2d3d5);
    background: -o-linear-gradient(top,  #eaeaea, #d2d3d5);
    background: -ms-linear-gradient(top,  #eaeaea, #d2d3d5);
    background: linear-gradient(to bottom,  #eaeaea,#d2d3d5);
    color: #525252;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .sign-here-box label.error{
    margin-left: 10px;
  }
}

#prescription-form{
  input[type='checkbox']{opacity: 0;}
  label.error{
    color: #FF1400;
    font-size: 14px;
    padding: 5px 0px;
  }
}

/* General Content */
herader.container {

}
section.container.general {
  height: 615px;
  background-color: #ffffff;
  h2 {
    padding: 21px 0 4px 0;
    color: #515151;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
  }
  /* Images Mock List*/
  ul {
    > li {
      display: inline-block;
      width: 205px;
      height: 231px;
      margin: 42px 66px 11px 66px;
      text-align: center;
      > img {
        display: block;
        width: 190px;
        height: 186px;
        padding: 6px;
        border: 1px solid #d7d7d7;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -moz-box-shadow: 0 0 3px #d4d4d4;
        -webkit-box-shadow: 0 0 3px #d4d4d4;
        box-shadow: 0 0 3px #d4d4d4;
        background-color: #ffffff;
      }
      > p {
        display: inline-block;
        padding: 9px 27px 0 0;
        color: #515151;
        font-family: @fontRegular;
        font-weight: bold;
        font-size: 19px;
        > span {
          display: block;
          float: left;
          width: 21px;
          height: 16px;
          padding-top: 4px;
          margin-right: 8px;
          border: 1px solid #f6eb94;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          background-color: #ffffbc;
          color: #4f4f4f;
          font-family: @fontRegular;
          font-weight: bold;
          font-size: 10px;
          text-align: center;
        }
      }
    }
  }
}
footer.container {
  width: 964px;
  height: 88px;
  padding: 0 28px;
  border-top: 1px solid #e9eaec;
  background-color: #dfe0e2;
  text-align: right;
  position: fixed:
bottom: 0;
  .btn-next {
    width: 126px;
    height: 34px;
    margin-top: 30px;
    padding-top: 7px;
    border: 1px solid #10679c;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-box-shadow: inset 1px 1px 0 #8af3f6;
    -webkit-box-shadow: inset 1px 1px 0 #8af3f6;
    box-shadow: inset 1px 1px 0 #8af3f6;
    background: url("@{dirImages}/bg_btn_approve.jpg") left top repeat-x;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px #07487e;
    cursor: pointer;
  }
}

section.container {
  footer {
    clear: both;
    p.small {
      font-size: 12px;
      text-align: center;
    }
  }
}

#loading-container {
  height: 540px;
  background: white url("@{dirImages}/ajax-loader.gif") center center no-repeat;
}

#main-container.admin {
  /*min-height: 420px;*/
}

/* Check Box General Content */
span.styledcheckbox {
  cursor: pointer;
  display: block;
  float: left;
  overflow: hidden;
  vertical-align: baseline;
}
span.styledcheckbox {
  margin: 0 8px 0 0;
  background: url("@{dirImages}/uncheckbox.png") left 2px no-repeat;
  width: 16px;
  height: 18px;
}
span.styledcheckbox.checked {
  background: url("@{dirImages}/checkbox.png") 0 2px no-repeat;
}
span.styledcheckbox input[type="checkbox"] {
  width: 16px;
  height: 18px;
  margin: 0px 8px 0 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none !important;
}


/* Check Box Sign Up */
span.styledcheckbox-signup {
  cursor: pointer;
  display: block;
  float: left;
  overflow: hidden;
  vertical-align: baseline;
}
span.styledcheckbox-signup {
  margin: 0 18px 0 0;
  background: url("@{dirImages}/uncheckbox-sign-up.png") left top no-repeat;
  width: 21px;
  height: 21px;
}
span.styledcheckbox-signup.checked {
  background: url("@{dirImages}/checkbox-sign-up.png") 0 0 no-repeat;
}
span.styledcheckbox-signup  input[type="checkbox"] {
  width: 21px;
  height: 21px;
  margin: 0px 18px 0 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  border: none !important;
}

/* WebCam Photo picker modal*/
#takePicture-modal{
  .clear{
    margin: 10px 0;
  }
  video{
    float: left;
    margin-right: 50px;
    width: 224px;
    background:url("@{dirImages}/webcam_placeholder.png") 0 0 no-repeat;
    height: 170px;

  }
  #photo{
    width: 224px;
    height: 170px;
  }
}


/* ADMIN styles */

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}


/* Profile pages */
.profile-page {
  /*min-height: 639px;*/
  .box {
    margin-top: 23px;
    h5 {
      font-family: @fontRegular;
      font-weight: bold;
      font-size: 20px;
    }
    hr {
      margin: 15px 0;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid white;
    }
    dl {
      margin-top: 9px;
      margin-bottom: 20px;
      dd {
        margin-bottom: 15px;
        a {
          font-size: 13px;
          color: @linkColorsOnProfile;
        }
      }
    }
    .data {
      .control-label {
        font-weight: bold;
      }
    }
    .image {
      .photo {
        margin-top: 7px;
        height: 100px;
        width: 120px;
        display: block;
        text-align: center;
      }
      a {
        font-size: 13px;
        color: @linkColorsOnProfile;
      }
    }
    .btn-primary {
      padding: 6px 35px;
      text-shadow: 1px 1px #3e3e3e;
      font-size: 15px;
    }
  }
}

ul.error {
  color: #b94a48;
  margin-bottom: 10px;
}

/* Login, Reset Password, Reset Sucess Pages*/
.logo {
  width: 498px;
  margin: 28px 0;
  text-align: center;
}
.login {
  .well {
    position: relative;
    width: 418px;
    padding: 31px 39px 14px 38px;
    h5 {
      margin-bottom: 13px;
      color: #2d2d2d;
      font-family: @fontRegular;
      font-weight: bold;
      font-size: 20px;
    }
    .form-horizontal {
      .control-group {
        margin-bottom: 10px;
        .control-label {
          display: none;
        }
        .controls {
          margin-left: 0;
          input[type="text"], input[type="password"] {
            width: 392px;
            height: 24px;
            padding: 5px 13px 5px 13px;
            border: 1px solid #d2d2d2;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: @color-white;
            color: #232323;
            font-family: @fontRegular;
            font-weight: bold;
            font-size: @font-small;
          }
          input::-webkit-input-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          input:-moz-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          input:-ms-input-placeholder  {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          input[type="password"]::-webkit-input-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          input[type="password"]:-moz-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          input[type="password"]:-ms-input-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-weight: normal;
          }
          label.checkbox {
            margin-top: -5px;
            color: #272727;
            font-family: @fontRegular;
            font-size: @font-small;
          }
          input[type="checkbox"]#remember_me {
            margin-left: -14px;
            width: 14px;
            height: 14px;
            margin-right: 5px;
          }
          input[type="submit"]#action {
            display: block;
            width: 181px;
            height: 37px;
            padding-top: 10px;
            margin: 11px auto 0 auto;
            color: @color-white;
            font-family: @fontRegular;
            font-weight: bold;
            font-size: 16px;
            text-shadow: 1px 1px #3e3e3e;
          }
        }
      }
    }
    a.forgot_password {
      position: absolute;
      top: 161px;
      right: 41px;
      color: #015f9d;
      font-family: @fontRegular;
      font-size: @font-extra-small;
      &:hover {text-decoration: none;}
    }
    p {
      padding-bottom: 14px;
      color: #272727;
      font-family: @fontRegular;
      font-size: @font-small;
      a {
        display: block;
        margin: 0 auto;
        color: #015f9d;
        font-family: @fontRegular;
        font-size: @font-extra-small;
        text-align: center;
        &:hover {text-decoration: none;}
      }
      a.back-to-account {
        margin: 26px auto 18px auto;
      }
    }
  }
}
/* Login Button */
.box-login {
  input[type="submit"]#action {
    float: left;
    margin: 15px 0 0 8px !important;
  }
}
/* Email not found error */
.error {
  input[type="text"]#email {
    border: 1px solid #efa7ab;
    background-color: #fdebee;
  }
  span.help-inline {
    margin: 8px 0 0 -1px;
    color: #dc0018 !important;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
  }
}
/* Footer Login, Reset Password, Reset Sucess Pages */
.extensive {
  width: 100%;
  height: 18px;
  margin-top: 5px;
  clear: both;
  text-align: center;
  p.small {
    font-size: 12px;
    text-align: center;
    color: #aaa;
  }
  p.footer-text {
    font-size: 10px;
    color: #eee
  }
}

/* Breadcrumb */
ul.breadcrumb {
  background: none;
  font-size: 12px;
  padding: 9px 32px 0px 32px;
  margin-bottom: 0;
  li {
    a {
      color: #007fcf;
    }
  }
  .divider {
    color: #272727;
  }
  .active {
    color: #272727;
  }
}

/* Admin Pages Tables */
hr {
  border-top: 1px solid #e4e4e4;
  margin: 18px 0 32px 0;

}
.button-space {
  width: 454px;
  a.btn.btn-primary.btn-small {
    width: 90px;
    color: @color-white;
    font-family: @fontRegular;
    font-weight: bold;
    font-size: @font-small;
    text-shadow: 1px 1px #3e3e3e;
  }
}
#records_wrapper.dataTables_wrapper {
  width: 962px;
  margin: 0 auto;
  color: #272727;
  font-family: @fontRegular;
  font-size: @font-small;
  .span5 {
    width: 233px;
    #records_length.dataTables_length {
      label {
        font-size: @font-small;
        select {
          width: 100px;
          height: 30px;
          margin-right: 15px;
        }
      }
    }
    #records_filter.dataTables_filter {
      label {
        margin-top: 3px;
        font-size: @font-small;
      }
      input {
        width: 165px;
        height: 15px;
        margin-left: 8px;
        font-family: @fontRegular;
        font-size: 13px;
      }
    }
  }
  .span6 {
    .dataTables_paginate {
      margin: -11px 0 0 -73px;
      font-size: 10px;
      ul {
        li {
          a {
            padding: 0 8px;
          }
        }
      }
    }
    .dataTables_info {
      margin-top: -10px;
      color: #888888;
    }
  }
}
/* Tables for Account, Companies and Roles */
table#records {
  margin-top: 6px !important;
  border: none;
  thead {
    tr {
      th {
        padding: 7px 0 6px 15px;
        border-left: none;
        border-bottom: 1px solid #d2d3d5;
        color: #f5f5f5;
        font-family: @fontRegular;
        font-size: @font-small;
        font-weight: normal;
        background: url('@{dirImages}/bg_thead.jpg') left top repeat-x;
      }
      th span {
        display: inline-block;
        width: 19px;
        height: 19px;
        vertical-align: middle;
        background: url('@{dirImages}/sort_both.png') right center no-repeat;
      }
      th.sorting_asc span.sorting-icon {
        background: url('@{dirImages}/sort_asc.png') right center no-repeat;
      }
      th.sorting_desc span.sorting-icon {
        background: url('@{dirImages}/sort_desc.png') right center no-repeat;
      }
      th.sorting_asc_disabled span.sorting-icon  {
        background: url('@{dirImages}/sort_asc.png') right center no-repeat;
      }
      th.sorting_desc_disabled span.sorting-icon {
        background: url('@{dirImages}/sort_desc.png') right center no-repeat;
      }
      th:first-child {
        padding-left: 10px;
        -webkit-border-radius: 9px 0 0 0;
        -moz-border-radius: 9px 0 0 0;
        border-radius: 9px 0 0 0;
      }
      th:last-child {
        -webkit-border-radius: 0 9px 0 0;
        -moz-border-radius: 0 9px 0 0;
        border-radius: 0 9px 0 0;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 5px 12px;
        border-top: 1px solid #efefef;
        border-left: 1px solid #efefef;
        font-size: @font-small;
      }
      td:first-child {
        border-left: 1px solid #d2d7dA;
        text-align: center;
      }
      td:last-child {
        border-right: 1px solid #d2d7dA;
      }
    }
    tr.odd, tr.even {
      border-bottom: 1px solid #efefef;
    }
  }
  tfoot {
    td {
      height: 14px;
      border-top: 1px solid #d2d3d5;
      -webkit-border-radius: 0 0 9px 9px;
      -moz-border-radius: 0 0 9px 9px;
      border-radius: 0 0 9px 9px;
      background: #343434;
      background: -moz-linear-gradient(top,  #565857, #343434);
      background: -webkit-gradient(linear, left top, left bottom, from(#565857), to(#343434));
      background: -webkit-linear-gradient(top,  #565857, #343434);
      background: -o-linear-gradient(top,  #565857, #343434);
      background: -ms-linear-gradient(top,  #565857, #343434);
      background: linear-gradient(to bottom, #565857, #343434);
    }
  }
}

label.control-label{margin-top: 15px;}

/* admin forms */

.admin-form {
  legend {
    border-bottom: 1px solid #E9EAEA;
    margin-bottom: 10px;
  }
  .control-label {
    font-weight: bold;
  }
  .control-group.error {
    .control-label {
      color: #333333;
    }
    .controls {
      input[type=text] {
        border: 1px solid #efa7ab;
        background: #fdebee url('@{dirImages}/input-error.png') no-repeat right;
      }
    }
  }
  .controls {
    input::-webkit-input-placeholder {
      font-style: italic;
    }
    input:-moz-placeholder {
      font-style: italic;
    }
    input:-ms-input-placeholder {
      font-style: italic;
    }
    .help-inline {
      color: #AD382C;
      clear: both;
      display: block;
    }
  }
}

/** mglass.css */

.mglass_wrapper {
  position: relative;
  cursor: url("@{dirImages}/blank.cur"),default;
}
.mglass_picture_box {
  zoom: 1.0;
  z-index: 1;
}
.mglass_viewer {
  position: absolute;
  visibility: hidden;
  width: 140px;
  height: 140px;
  z-index: 2;
  overflow: hidden;
  .border-radius(5px);
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85),
  0 0 2px 2px rgba(0,0,0, 0.25),
  inset 0 0 40px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85),
  0 0 2px 2px rgba(0,0,0, 0.25),
  inset 0 0 40px 2px rgba(0,0,0,0.25);

}

/** upload wizard styles **/

#image-upload-wizard {
  width: 790px;
  h2 {
    color: #1c85b5;
    font-size: 18px;
  }
  .modal-header {
    border-bottom: 1px solid #5fa8c9;
  }
  .side {
    float: left;
    width: 105px;
    margin-left: 10px;
    margin-right: 10px;
    .scroller {
      height: 364px;
      width: 146px;
      overflow-y: auto;
      .images {
        li {
          &.selected {
            border: 1px solid #bbbbbb;
            margin: 2px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
          }
          clear: both;
          margin: 3px;
          i {
            color: #6DAA27;
          }
          img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #bbbbbb;
            width: 80px;
            height: 80px;
          }
          ul.image-actions{
            display:inline-block;
            vertical-align: middle;
            li {
              a {
                img{
                  -webkit-border-radius: 0;
                  -moz-border-radius: 0;
                  border-radius: 0px;
                  width: 10px;
                  height: 10px;
                  background-color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
    #finish {
      margin-left: 20px;
      margin-top: 10px;
    }
  }
  .main {
    float: left;
    margin-left: 30px;
    width: 410px;
    .stream {
      .header {
        &.camera-started {
          p {
            a {
              color: #bbbbbb;
            }
          }
        }
        background-color: #9d9d9d;
        height: 52px;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-top-left-radius: 5px;
        -moz-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        p {
          padding-top: 18px;
          text-align: center;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
      .body {
        background-color: #bbbbbb;
        height: 260px;
        position: relative;
        #wizard-video{
          float: left;
          width: 410px;
          height: 260px;
        }
        #wizard-canvas{
          display: none;
        }
        .loading{
          background: url("../img/loading-bar.gif") 0 0 no-repeat;
          width: 130px;
          height: 15px;
          position: absolute;
          display: none;
          top: 230px;
          left: 50px;
        }
        &.uploading .loading{
          display: block;
        }
      }
      .footer {
        background-color: #555555;
        height: 52px;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        button {
          margin-top: 10px;
          background-color: #676767;
        }
        #wizard-loading {
          background: url("@{dirImages}/uploading.gif") 0 0 no-repeat;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-top: 20px;
        }
      }
    }
  }
  .right-side {
    float: left;
    margin-left: 30px;
    width: 170px;
    h2 {
      font-size: 15px;
    }
    .prescription-info {
      display: block;
      margin-bottom: 40px;
      font-size:12px;
    }
    .drug-image {
      display: block;
      img {
        display: block:
      height: 160px;
        width: 160px;
      }
    }
  }
}

#modal-video {
  #tokbox-container {
    #publish-container {
      float: left;
      margin: 0 10px;
    }
    #subscribe-container{
      float: left;
      margin: 0 10px;
    }
  }
}

#image-expand-modal {
  text-align: center;
}

#pharmacist-video {
  width: 234px;
  height: 176px;
  float: left;
  margin-right: 20px;
}

#patient-history-modal {
  .modal-body{
    padding: 0;
    overflow: hidden;
  }
  width: 715px;
  h2 {
    font-weight: bold;
    font-size: 17px;
  }
  .patient-wrapper{
    display: block;
    text-align: center;
  }
  .center{
    width: 50%;
    margin: 0 auto;
  }
  .patient-info {
    float:left;
    margin: 0 15px 15px 15px;

    label {
      display: block;
    }
    span{
      font-weight: bold;
    }
  }
  .extra{
    clear:both;
    margin : 0;
    font-size : 14px;
    height: 20px;
  }
  .sticky {
    width: 661px;
    position: fixed;
    z-index: 100;
    border-top: 0;
    border-bottom: 0;
    td{
      width: 661px;
      height : 20px;
      vertical-align: middle;
    }
  }
  .patient-history-append-results-break{
    background-color: #faf7a4;
  }
  .patient-history-results{
    width: 95%;
    margin: 0 auto;
  }
  .load-more-add-prescriptions{
    background-color : rgb(221, 247, 200);
  }
  .final{
    height : 34px;
    background: #343434;
    color : #fff;
  }
  table{
    width: 700px;
    margin: 10px 0 0 0;
    display: block;
    *border-collapse: collapse;
    border-spacing: 0;
    background: #ffffff;
     th:first-child{
      border-radius:10px 0 0 0;
    }

     th:last-child{
      border-radius:0 10px 0 0;
    }
    thead{
      margin-right: 15px;
      background: -webkit-gradient(linear, left top, left bottom, from(#565857), to(#343434));
      background: #343434;
      background: -moz-linear-gradient(top,  #565857, #343434);
      background: -webkit-linear-gradient(top,  #565857, #343434);
      background: -o-linear-gradient(top,  #565857, #343434);
      background: -ms-linear-gradient(top,  #565857, #343434);
      background: linear-gradient(to bottom, #565857, #343434);
      th {
       color: #fff;
        padding:10px 0 10px 0;
        border-bottom: 1px solid #d2d3d5;
        width:83px;
      }
    }
    tbody{
      border-left : 1px solid  #343434;
      border-right : 1px solid  #343434;
      display: block;
      height: 200px;
      overflow-y: scroll;
    }
    tr:nth-child(2){
      margin: 20px 0 0 0;
      padding: 20px 0 0 0;
      height:70px;
      td :nth-child(2), td :nth-child(4), td :nth-child(5)  td:nth-child(8){
        vertical-align: middle;
      }
      td{
        height: 50px;
        vertical-align: bottom;
      }
    }
    tr{
      border-bottom: 1px solid #ffffff;
      td{
        border-right: 1px solid #d2d3d5;
        font-size: @font-small;
        text-align: center;
        width:83px;
      }
    }
  }
  .patient-history-actions{
    border-radius:0 0 10px 10px ;
    width:680px;
    float:left;
    margin-bottom : 15px;
    div.extra, a{
      display: block;
      width: 50%;
      height: 100%;
      margin: 0 auto;
    }
    span{
      margin-top : 10px;
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
}
}

/* Prescription View Notifications */
/*Popover Comments and notifications */
#comments-popup-box {
  width: 394px;
  font-size: @font-extra-medium;
  margin-top: 5px;
  .popover-inner {
    ul {
      > li.prescription-comment-box, > li.prescription-notification-box {
        display: block;
        padding: 10px 0px 10px 15px;
        border-bottom: 1px solid #e2e2e2;
        cursor: pointer;
        &:hover {
          background: #eef7ff;
        }
        p {
          line-height: 1.2;
          strong {
            color: #2981cb;
            font-weight: bold;
          }
          span.comment-datetime {
            margin-left: 7px;
            color: #999999;
          }
        }
      }
    }
    .see-all-notifications {
      padding: 10px;
      border-top: 1px solid #ebf0f4;
      background: #eef7ff;
      text-align: center;
      a {
        color: #2981cb;
        font-weight: bold;
        &:hover{color: #2981cb;}
      }
    }
  }
}

/* Counsel Comments Modal */
.counsel-comments {
  width: 600px;
  border: none;
  box-shadow: black 0 0 5px;
  .modal-body {
    overflow-y: no-display;
    max-height: 306px;
    padding: 15px 23px;
    .video-list {
      ul {
        > li {
          display: inline-block;
          width: 215px;
          height: 215px;
          padding: 30px 22px 20px 22px;
        }
      }
      .btn-end-counsel {
        margin: 0 auto 6px auto;
        padding: 6px 36px;
        .red-button;
      }
    }
  }
  .modal-footer {
    padding: 18px 14px 14px 14px;
    text-align: left;
    .form-inline {
      margin-bottom: 10px;
      input[type="text"] {
        width: 452px;
        height: 26px;
        border: 1px solid #e1e1e1;
        -webkit-box-shadow: inset 0 0 0;
        -moz-box-shadow: inset 0 0 0;
        box-shadow: inset 0 0 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      .btn-add-comment {
        .blue-light-button;
        margin-left: 4px;
        padding: 6px 8px;
      }
    }
    .counsel-comment-box {
      overflow-y: auto;
      max-height: 112px;
      ul {
        > li {
          display: block;
          p {
            padding: 9px 20px 6px 0;
            font-size: @font-extra-small;
            line-height: 1.2;
            strong {
              color: #1a79ad;
              font-weight: bold;
            }
            .comment-datetime {
              margin-left: 7px;
              color: #878787;
            }
          }
        }
      }
    }
  }
}


/* Counsel Window Expand */
.counsel-expand, .counsel-close {
  position: absolute;
  top: 14px;
  left: 163px;
  width: 600px;
  margin: 0;
  border: 1px solid #d1d1d1;
  box-shadow: 8px 8px 25px #d4d4d4;
  .modal-header {
    position: relativa;
    padding: 7px 8px 7px 14px;
    border-bottom: 1px solid #d1d1d1;
    h5 {
      color: #2079a5 ;
      font-size: 16px;
      font-weight: bold;
    }
    a.move-window, a.minimize {
      position: absolute;
      top: 6px;
      display: block;
    }
    /* Minimize Button Default */
    a.minimize {
      right: 7px;
      padding: 5px 8px;
      .border-radius (6px);
      border: 1px solid #d2d2d2;
      background: @color-white;
      color: #c5c5c5;
      font-size: @font-extra-small;
      font-weight: bold;
      letter-spacing: 3px;
      cursor: default;
      &:hover{
        border: 1px solid #c9dce9;
        color: #90bfdc;
      }
    }
    a.move-window.move-off, a.move-window.move-on {
      right: 108px;
      top: 9px;
      width: 18px;
      height: 0;
      padding-top: 18px;
      overflow: hidden;
      background: url("@{dirImages}/move-icon.png") center top no-repeat;
      cursor: pointer;
    }
    a.move-window.move-on {
      cursor: move;
    }
  }
  .modal-body {
    overflow-y: no-display;
    max-height: 306px;
    padding: 15px 23px;
    .video-list {
      ul {
        > li {
          display: inline-block;
          width: 215px;
          height: 215px;
          padding: 10px 30px 20px 30px;
        }
      }
      .btn-end-counsel {
        margin: 0 auto 6px auto;
        padding: 6px 36px;
        .red-button;
      }
    }
  }
}

/* Counsel Window Close */
.counsel-close {
  background: #feffde;
  .modal-header {
    a.open {
      position: absolute;
      top: 6px;
      display: block;
      right: 7px;
      padding: 5px 21px;
      .border-radius (6px);
      border: 1px solid #d2d2d2;
      background: @color-white;
      color: #c5c5c5;
      font-size: @font-extra-small;
      font-weight: bold;
      letter-spacing: 3px;
      cursor: default;
      &:hover{
        border: 1px solid #d2d2d2;
        color: #c5c5c5;
      }
    }
  }
}


/* Modal All Comments and Notifications Tabs */
.all-notifications {
  width: 656px;
  border: 1px solid #d2d3d5;
  .modal-header {
    padding: 11px 22px 9px 22px;
    border-bottom: 1px solid #e9e9e9;
    h5 {
      color: #2079a5;
      font-size: @font-extra-big;
      font-weight: bold;
    }
    button.close {
      width: 13px;
      height: 0;
      padding-top: 13px;
      overflow: hidden;
      background: url("@{dirImages}/close-icon.jpg") center top no-repeat;
      opacity: 1;
      cursor: pointer;
    }
  }
  .modal-body {
    padding: 0 2px 0 0;
    .tabs-left > .nav-tabs {
      float: left;
      width: 109px;
      margin-right: 1px;
      border: none;
    }
    .tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
      border: none;
      .border-radius (0px);
      border-color: none;
    }
    .nav-tabs > li > a {
      padding: 14px 14px 10px 14px;
      border: none;
      margin-bottom: 0;
      color: #338ab1;
      font-size: @font-small;
      font-weight: bold;
      background: #f4f5f7;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f5f7));
      background: -webkit-linear-gradient(top, #ffffff, #f4f5f7);
      background: -moz-linear-gradient(top, #ffffff, #f4f5f7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f5f7');
      &:hover{
        background: #eaebef;
        background: -webkit-gradient(linear, left top, left bottom, from(#f3f4f6), to(#eaebef));
        background: -webkit-linear-gradient(top, #f3f4f6, #eaebef);
        background: -moz-linear-gradient(top, #f3f4f6, #eaebef);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f6', endColorstr='#eaebef');
      }
    }
    .tab-content {
      width: 542px;
      max-height: 332px;
      overflow: auto;
      border-left: 1px solid #d5d6d8;
      .prescription-comment-box, .prescription-notification-box {
        display: block;
        padding: 8px 12px;
        border-bottom: 1px solid #f2f2f2;
        p {
          font-size: @font-extra-small;
          line-height: 1.2;
          strong {
            color: #2981cb;
            font-weight: bold;
          }
          span.comment-datetime {
            margin-left: 7px;
            color: #999999;
          }
        }
      }
    }
  }
}

/* Number of notifications on header */
.number {
  float: right;
  width: 17px;
  height: 15px;
  padding: 3px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #da4524;
  font-family: @fontRegular;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  line-height: 1.2em;
  &.zero {
    background-color: #00B1F0;
  }
}

.counsel-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("@{dirImages}/counsel.png") center center no-repeat;
  &:hover {
    background: url("@{dirImages}/counsel-hover.png") center center no-repeat;
  }
}

.ui-draggable .modal-header {
  cursor: move;
}

#medispan-full {
  .modal-body {
    text-align: center;
    .carousel .item > img{
      margin-left: 110px;
    }
  }
}

.modal-header {
  h2 {
    font-weight: bold;
    font-size: @font-extra-big;
  }
}

.modal-backdrop,
.modal-backdrop.fade,
.modal-backdrop.fade.in {
  background: transparent;
}

#report-error-modal {
  .modal-body {
    .prescription-info {
      ul.patient-data {
        display: block;
        margin-bottom: 20px;
      }
      ul.drug-info {
        display: block;
        float: left;
        width: 200px;
      }
      ul.dispense-info {
        display: block;
        float: left;
        width: 200px;
        margin-left: 50px;
      }
    }
    hr {
      clear: both;
    }
  }
}

/* New prescription view css */

ul.prescription-view {
  display: block;
  clear: both;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  li {
    display: block;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #aaa;
    padding: 10px;
    width: 355px;
    height: 323px;
    float: left;
    position: relative;
    &.item {
      padding: 0;
      height: 343px;
      width: 375px;
      .hide{
        display: none;
      }
      img {
        display: block;
        width: 361px;
        height: 329px;
        padding: 6px;
        border: 1px solid #b2b2b2;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -moz-box-shadow: 0 0 3px #dbdcde;
        -webkit-box-shadow: 0 0 3px #dbdcde;
        box-shadow: 0 0 3px #dbdcde;
        background-color: #ffffff;
      }
      img.medispan {
        position: absolute;
        top: 10px;
        left: -10px;
        width: 100px;
        height: 100px;
        z-index: 1000;
      }
    }
    &.patient-info {
      font-size: 12px;
      background-color: #FFF9D4;
      .pharmacy-name {
        color: rgb(132, 132, 132);
        font-size: 12px;
        font-weight: bold;
      }
      .pharmacy-phone {
        color: rgb(143, 143, 143);
        font-size: 10px;
      }
      .technician-info {
        float: right;
        text-align: right;
        color: rgb(143, 143, 143);
        font-size: 10px;
      }
      hr {
        border-top: 1px solid rgb(143, 143, 143);
        border-bottom: 0;
        margin: 0;
        margin-left: 20px;
      }
      a.btn-call {
        background-color: #52A4CB;
        color: white;
        padding: 2px 20px;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 11px;
        border-radius: 2px;
      }
      .prescription-data {
        background-color: white;
        height: 267px;
        width: 334px;
        padding: 10px;
        margin-top: 5px;
        overflow-y: auto;
        .rx-number {
          font-size: 14px;
          font-weight: bold;
        }
        .patient-name {
          font-size: 14px;
          font-weight: bold;
        }
        .dates{
          width: 109px;
          float: right;
          text-align: left;
        }
        a.patient-history {
          font-size: 11px;
        }
        .sig-info {
          padding: 25px 0 0 0;
          font-weight: bold;
          font-size: 14px;
        }
        .drug-name {
          padding: 10px 0 10px 0;
          font-weight: bold;
          font-size: 14px;
        }
        .prescriber {
          margin-left: 0;
          font-size: 11px;
        }
        .quantity {
          float: right;
          text-align: right;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
}

.interactions {
  margin-left: 30px;
  margin-top: 10px;
  display: block;
  padding: 2px 0;
  background-color: #54A5CF;
  clear: both;
  color: #FFFDFA;
  font-size: 12px;
  .count {
    display: inline-block;
    color: red;
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    margin: 5px;
  }
  .open-interactions {
    float: right;
    margin: 11px;
    color: #9BE1FC;
    font-size: 12px;
  }
  h2 {
    display: inline-block;
    color: #FEF4AE;
  }
}

.bottom-patient-info {
  margin-left: 30px;
  margin-top: 15px;
  .span9 {
    width: 730px;
    background-color: darken(#F2F2F2, 10%);
    padding: 5px 10px 5px 10px;
    margin-left: 0;
    ul li {
      font-size: 11px;
    }
  }
  .span2 {
    background: darken(#f2f2f2, 10%);
    padding: 20px;
    height: 123px;
    width: 203px;
    color: rgb(70, 70, 70);
    ul li {
      font-size: 22px;
      font-weight: bold;
      padding: 10px;
      &.acq {
        color: #952F15;
        border-bottom: 1px solid #CECECE;
      }
      &.gp {
        color: #5E952A;
      }
    }
  }
  h3 {
    background: none;
    color: black;
    border: none;
    text-shadow: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgb(70, 70, 70);
  }
}
.transfer-information{
  margin-left: 30px;
  margin-top: 15px;
  background-color: darken(#F2F2F2, 10%);
  display:inline-block;
  div.wrapper{
    width: 730px;
    margin:5px 10px 0 10px;
    display:inline-block;
    h3{
      background: none;
      color: black;
      border: none;
      text-shadow: none;
      font-size: 16px;
      margin: 0;
      padding: 0;
      color: #464646;
    }
    .top{
      border-top: 1px solid #eee;
      padding-top:5px;
    }

    div.completed-info{
      clear:both;
      height: auto;
      .transfer-address{
        padding-bottom: 0;
      }
      div{
        float:left;
        padding-bottom:5px;
        strong, p{
          font-size:11px;
        }
      }
    }

      h4 {
        height: auto;
        background: none;
        color: black;
        border: none;
        text-shadow: none;
        font-size: 13px;
        padding: 0;
        color: rgb(70, 70, 70);
      }
    div.transfer-complete{
      clear:both;
      border-top: 1px solid #eee;
      div.right{
        width:auto;
        margin:5px 0 5px 0;
        float:right;
        p{
          font-weight: bold;
          display:inline-block;
        }
        a.print{
          margin: 10px;
            img{
              width: 16px;
              height: 16px;
            }
          }
      }
    }
  }
}
.signature-information {
  margin-left: 30px;
  margin-top: 15px;
  .span9 {
    width: 722px;
    background-color: darken(#F2F2F2, 10%);
    padding: 14px;
    min-height: 135px;
    margin-left: 0;
    ul li {
      font-size: 11px;
    }
    .counseling-pharmacist{
      font-weight: bold;
    }
  }
}

#choose-modal {
  .modal-body {
    p {
      color: #2298BC;
      i {
        background-color: #DFDFDF;
        color: #3A3A3A;
        padding: 3px;
        border-radius: 3px;
      }
    }
  }
  .modal-footer {
    .btn {
      line-height: 27px;
      color: white;
      text-shadow: black 1px 1px;
    }
    .btn.btn-default {
      background: -webkit-linear-gradient(bottom, #858585, lighten(#858585, 20%));
    }
    .btn.btn-primary {
      background: -webkit-linear-gradient(bottom, #4B9CC9, #95CCE4);
    }
  }
}


#synced-tablets-popover {
  width: 300px;
  .popover-inner {
    padding: 10px;
  }
  ul li {
    padding: 10px;

  }
  h4 {
    font-weight: bold;
  }
}
#create-prescription-popover{
  margin-top: -10px;
  .popover-content{
    .inputs{
      margin-bottom: 10px;
    }
    .controls{
      #create-refill-button{
        width:120px;
        float:right;
      }
    }
    #create-prescription-found {
      height: auto;
      .wrapper{
        margin-top: 10px;
        border-top:1px solid #e8e8e8;
        .results{
          margin-top: 10px;
          width: 100%;
          .status {
            color: #666;
            font-size: 12px;
            margin: 6px 0 2px 0;
            display: block;
          }
        }
      }
    }
  }
}


h3 a .icon-video {
  float: right;
  display: inline-block;
  width: 20px;
  height: 31px;
  margin: 3px auto;
  padding-right: 10px;
  margin-top: -7px;
  overflow: hidden;
  background: url("../img/bg-btn-video.png") center center no-repeat;
  background-color: #ddd;
}

#dailyScriptsChart {
  min-height: 300px;
  margin: 0 auto;
  min-width: 620px;
  float: none;
}
#status-details-div th>.popover h3{
  padding: 0;
  border: none;
}

.bold{
  font-weight: 700;
}
.checkbox-request-counsel{
  width: 170px;
  margin: 0 auto;
}

.checkbox-request-counsel>span,
.checkbox-request-counsel>label {
  float: right;
}

.checkbox-request-counsel>span{
  margin: 0 0 0 10px;
}

th>.popover{
  width: auto;
}

.prescription-options label{
  cursor: pointer;
}
.right-button{
  float: right;
}
.left-button{
  float: left;
}
.dashboard-actions{
  text-align: center;
  margin: 10px auto;
}
.cursor-default{
  cursor: default !important;
}
div#transfer-holder{
    width:auto;
    div#transfer-errors{
      div.border-bottom{
        border-bottom: 1px solid #eee;
        div{
          margin : 15px;
          p{
            font-weight: bold;
          }
          ul{
            li{
              list-style: disc inside;
              color:red;
            }
          }
        }
      }
    }
    div.modal-body{
      h3{
        width:auto;
        margin-bottom:10px;
        border-left:1px solid #c1c5c8;
      }
      div.called-in-by, div#transfer-pharmacy, div#transfer-pharmacist{
        vertical-align: top;
        display: inline-block;
        margin:10px;
        a{
          display:block;
        }
      }
      .controls input{
        display:block;
      }
    }
    div.modal-footer{
      a{
        float:left;
        display: inline-block;
      }
      div.actions{
        p{
          font-weight : bold;
          display: inline-block;
          padding: 4px 12px;
        }
        a{
          display: inline-block;
          float:right;
        }
      }
    }
  }

div#prescription-transfer-modal{
  .hide{
    visibility: hidden;
  }
  width:auto;
  div#transfer-errors{
    height : auto;
    div.border-bottom{
      border-bottom: 1px solid #eee;
      div{
        margin : 15px;
        p{
          font-weight: bold;
        }
        ul{
          li{
            list-style: disc inside;
            color:red;
          }
        }
      }
    }
  }
  div.modal-body{
    display: inline-block;
    padding : 0;
    h3{
      .border-radius(0px);
      width:auto;
      margin-bottom:10px;
      border: 1px solid #ccc;
      color: #444;
      text-shadow: none;
      background: #e9eaee;
      background: -moz-linear-gradient(top, #f5f5f7, #e9eaee);
      background: -webkit-gradient(linear, top, bottom, from(#f5f5f7), to(#e9eaee));
      background: -webkit-linear-gradient(top, #f5f5f7, #e9eaee);
      background: -o-linear-gradient(top, #f5f5f7, #e9eaee);
      background: -ms-linear-gradient(top, #f5f5f7, #e9eaee);
      background: linear-gradient(to bottom, #f5f5f7, #e9eaee);
    }
    div.controls{
      height:363px;
      width: 260px;
      float:left;
      overflow-x: hidden;
      overflow-y: scroll;
      div.called-in-by, div#transfer-pharmacy, div#transfer-pharmacist{
        vertical-align: top;
        margin:10px;
        a{
          display:block;
        }
        .create-new, .select-existing, .pharmacy-information{
          text-align: center;
          margin:10px;
          input{
            width: 194px;
          }
        select{
          width: 208px;
        }
        }
      }
    }
    div.transfer-rx-display{
      float:left;
      .prescription-view{
        margin: 10px;
      }
    }
  }
  div.transfer-modal-footer{
    clear:both;
    padding: 0;
    a{
      float:left;
      display: inline-block;
    }
    div.actions{
      p{
        font-weight : bold;
        display: inline-block;
        padding: 4px 12px;
      }
      a{
        margin : 10px 10px 10px 0;
        display: inline-block;
        float:right;
      }
    }
  }
}
.prescription-image-li{
  cursor: pointer;
}
.full-image{
  width:724px;
  height: 658px;
}

.lightbox-content{
  position: relative;
  display: block;
  span{
    opacity: 0.3;
    cursor: pointer;
  }
  span:hover{
    opacity: 1;
  }
  .left{
    position:absolute;
    left: 1.25%;
    bottom: 0;
  }
  .right{
    position:absolute;
    left: 90%;
    bottom: 0;
  }
}

span.saved{font-size: 12px; color: #0E90CD; font-weight: bold}

#create-choose-modal{
  #create-prescription-container-errors{
    div.header p{
      font-weight: bold;
      font-size: 15px;
    }
    div.content{
      color: red;
    }
  }
}
.main-content .notification-display, #image-upload-wizard .notification-display{
  position: absolute;
  left: 57%;
}
