/* typography.css */



/* Font Face
-------------------------------------------------------------- */

@font-face {
  font-family: 'Helvetica Bold';
  src: url('../fonts/helveticabold.eot');
  src: url('../fonts/helveticabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticabold.woff') format('woff'),
    url('../fonts/helveticabold.ttf') format('truetype'),
    url('../fonts/helveticabold.svg#helveticabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Regular';
  src: url('../fonts/helveticaregular.eot');
  src: url('../fonts/helveticaregular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaregular.woff') format('woff'),
    url('../fonts/helveticaregular.ttf') format('truetype'),
    url('../fonts/helveticaregular.svg#helveticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}