 
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:60px;
  display:none;
  z-index:9999;
  padding:20px;
  font-size:13px;
  font-weight:600;
   border-radius: 10px 10px 10px 10px;
}
#boxes #dialog {
  width:375px; 
  height:60px;
  padding:20px;
  background-color:#85D6FF;
}